In [13]:
import pandas as pd
import numpy as np
import my_def

<h1>데이터확인</h1>
총매출액 사용

In [14]:
df = pd.read_csv('Merged_Sales_data_v2.4.csv')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 17 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int64
 1   행정동_코드     374581 non-null  int64
 2   행정동        374581 non-null  object
 3   업종명        374581 non-null  object
 4   월매출        374581 non-null  int64
 5   주중매출       374581 non-null  int64
 6   주말매출       374581 non-null  int64
 7   인구수        374581 non-null  int64
 8   점포수        374581 non-null  int64
 9   지역생활인구     374581 non-null  int64
 10  장기외국인      374581 non-null  int64
 11  단기외국인      374581 non-null  int64
 12  주차장면적(면)   374581 non-null  int64
 13  주차장개수(개소)  374581 non-null  int64
 14  학교수        374581 non-null  int64
 15  학생수        374581 non-null  int64
 16  버스정류장수     374581 non-null  int64
dtypes: int64(15), object(2)
memory usage: 48.6+ MB

In [16]:
df = df.drop(["행정동_코드", "주중매출", "주말매출"], axis= 1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int64
 1   행정동        374581 non-null  object
 2   업종명        374581 non-null  object
 3   월매출        374581 non-null  int64
 4   인구수        374581 non-null  int64
 5   점포수        374581 non-null  int64
 6   지역생활인구     374581 non-null  int64
 7   장기외국인      374581 non-null  int64
 8   단기외국인      374581 non-null  int64
 9   주차장면적(면)   374581 non-null  int64
 10  주차장개수(개소)  374581 non-null  int64
 11  학교수        374581 non-null  int64
 12  학생수        374581 non-null  int64
 13  버스정류장수     374581 non-null  int64
dtypes: int64(12), object(2)
memory usage: 40.0+ MB

In [18]:
# 0개인 점포수 확인
df0 = df[df["점포수"] == 0]
df0["업종명"].unique()

array([], dtype=object)

In [19]:
df.columns

Index(['년분기', '행정동', '업종명', '월매출', '인구수', '점포수', '지역생활인구', '장기외국인', '단기외국인',
       '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수'],
      dtype='object')

In [20]:
df = my_def.reduce_memory_usage(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374581 entries, 0 to 374580
Data columns (total 14 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   년분기        374581 non-null  int16
 1   행정동        374581 non-null  object
 2   업종명        374581 non-null  object
 3   월매출        374581 non-null  int64
 4   인구수        374581 non-null  int32
 5   점포수        374581 non-null  int16
 6   지역생활인구     374581 non-null  int32
 7   장기외국인      374581 non-null  int32
 8   단기외국인      374581 non-null  int32
 9   주차장면적(면)   374581 non-null  int32
 10  주차장개수(개소)  374581 non-null  int16
 11  학교수        374581 non-null  int16
 12  학생수        374581 non-null  int16
 13  버스정류장수     374581 non-null  int16
dtypes: int16(6), int32(5), int64(1), object(2)
memory usage: 20.0+ MB
None

<h1>전체업종 선형회귀 모델</h1>

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [22]:
# '행정동' 컬럼 원핫인코딩 수행
df = pd.get_dummies(df, columns=['행정동'], drop_first=True)

# 피처와 타겟 설정
features = ['년분기', '인구수', '점포수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수'] + [col for col in df.columns if col.startswith('행정동_')]
target = '월매출'

X = df[features]
y = df[target]

# 학습 데이터와 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 선형 회귀 모델 학습 및 예측
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [23]:
# 모델 평가 호출 선형회귀모델
my_def.evaluate_model(model, X_train, X_test, y_train, y_test)

{'train_mse': np.float64(8.042648940072473e+19),
 'test_mse': np.float64(8.373483282692004e+19),
 'train_rmse': np.float64(8968081701.27),
 'test_rmse': np.float64(9150673900.15),
 'train_r2': 0.14,
 'test_r2': 0.18,
 'train_mae': np.float64(1413094039.39),
 'test_mae': np.float64(1450800783.38),
 'train_mae_ratio': np.float64(103.92),
 'test_mae_ratio': np.float64(103.07)}

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd

# 파일 로드
file_path = df = 'Merged_Sales_data_v2.4.csv'
df = pd.read_csv(file_path)

# 업종명 고유값 추출
unique_categories = df["업종명"].unique()

# 결과를 저장할 딕셔너리 생성
results = {}

# 각 업종별로 데이터를 나누어 모델 학습 및 예측 수행
for category in unique_categories:
    # 업종별 데이터 필터링
    df_category = df[df['업종명'] == category]
    
    # 원핫인코딩 수행
    df_category = pd.get_dummies(df_category, columns=['행정동'], drop_first=True)
    
    # 피처와 타겟 설정
    features = ['년분기', '인구수', '점포수', '지역생활인구', '장기외국인', '단기외국인', '주차장면적(면)', '주차장개수(개소)', '학교수', '학생수', '버스정류장수'] + [col for col in df_category.columns if col.startswith('행정동_')]
    target = '월매출'
    
    # 피처와 타겟 데이터 분리
    X = df_category[features]
    y = df_category[target]
    
    # 학습 데이터와 테스트 데이터 분리
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    # 선형 회귀 모델 학습
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    # 성능 평가 호출
    evaluation_result = my_def.evaluate_model(model, X_train, X_test, y_train, y_test)
    
    # 결과 저장
    if evaluation_result is not None:
        results[category] = evaluation_result

# 결과를 데이터프레임으로 변환
results_df = pd.DataFrame.from_dict(results, orient='index')
results_df = results_df.apply(pd.to_numeric)

# test_mae_ratio의 최고, 최저, 평균 추가
test_mae_ratio_max = results_df['test_mae_ratio'].max()
test_mae_ratio_min = results_df['test_mae_ratio'].min()
test_mae_ratio_mean = results_df['test_mae_ratio'].mean()

# 모든 행에 공통으로 최고, 최저, 평균 추가
test_mae_summary = {
    'test_mae_ratio_max': test_mae_ratio_max,
    'test_mae_ratio_min': test_mae_ratio_min,
    'test_mae_ratio_mean': test_mae_ratio_mean
}

for key, value in test_mae_summary.items():
    results_df[key] = value

# 결과를 소수점 2자리로 포맷팅하여 출력
pd.options.display.float_format = '{:.2f}'.format
print(results_df)

                      train_mse                       test_mse     train_rmse  \
미곡판매      493043680254878592.00 126524353876042766773911552.00   702170691.68
분식전문점     130175914339456224.00          127178213963516784.00   360798994.37
편의점       453712678831133056.00          635146804643882624.00   673581976.33
한식음식점    6565589343919916032.00         9408567779922044928.00  2562340598.73
의약품      1881202838643878912.00         2777454729919945216.00  1371569480.06
...                         ...                            ...            ...
수산물판매  126613306720933756928.00       132709621476685266944.00 11252257849.91
고시원         5303962948986172.00            5293223431738722.00    72828311.45
완구        105399854936714912.00           42790592625770832.00   324653438.20
부동산중개업     23128598937988740.00          108048681971221088.00   152080896.03
가방        118190105807691968.00          253314609684736480.00   343787879.09

               test_rmse  train_r2      test_r2     train_mae        test_mae  \
미곡판매   11248304488946.00      0.94 -21976780.02  248810648.00 977066031861.15
분식전문점       356620546.19      0.88         0.87  166262927.82    169835300.13
편의점         796960980.63      0.95         0.95  411973667.45    459012617.62
한식음식점      3067338875.95      0.93         0.92 1425104691.97   1665300929.36
의약품        1666569749.49      0.92         0.90  616179373.41    678461625.59
...                  ...       ...          ...           ...             ...
수산물판매     11519966209.88      0.94         0.96 3185864219.86   3477595858.94
고시원          72754542.34      0.91         0.93   47389513.97     53821539.71
완구          206858871.28      0.99         0.99  164135809.49    126716785.44
부동산중개업      328707593.42      0.86         0.66   71463649.33    153089128.58
가방          503303695.28      0.90         0.88  144441829.92    205693748.79

        train_mae_ratio  test_mae_ratio  test_mae_ratio_max  \
미곡판매              35.20       159479.74           779954.45
분식전문점             23.37           24.75           779954.45
편의점               14.23           15.01           779954.45
한식음식점             20.16           21.20           779954.45
의약품               17.43           18.87           779954.45
...                 ...             ...                 ...
수산물판매             60.90           43.32           779954.45
고시원               26.38           25.18           779954.45
완구                14.30           22.26           779954.45
부동산중개업            35.62           54.06           779954.45
가방                35.48           31.22           779954.45

        test_mae_ratio_min  test_mae_ratio_mean
미곡판매                 15.01             24739.19
분식전문점                15.01             24739.19
편의점                  15.01             24739.19
한식음식점                15.01             24739.19
의약품                  15.01             24739.19
...                    ...                  ...
수산물판매                15.01             24739.19
고시원                  15.01             24739.19
완구                   15.01             24739.19
부동산중개업               15.01             24739.19
가방                   15.01             24739.19

[63 rows x 13 columns]

In [25]:
df["업종명"].unique()

array(['미곡판매', '분식전문점', '편의점', '한식음식점', '의약품', '슈퍼마켓', '반찬가게', '호프-간이주점',
       '커피-음료', '일반의원', '치과의원', '육류판매', '자동차수리', '한의원', '의료기기', '양식음식점',
       '세탁소', '피부관리실', '화장품', '철물점', '일반교습학원', '스포츠 강습', '스포츠클럽', '골프연습장',
       '애완동물', '미용실', '화초', '신발', 'PC방', '안경', '일식음식점', '일반의류', '서적',
       '가전제품수리', '예술학원', '컴퓨터및주변장치판매', '제과점', '운동/경기용품', '중식음식점',
       '시계및귀금속', '치킨전문점', '패스트푸드점', '노래방', '당구장', '청과상', '외국어학원', '조명용품',
       '네일숍', '가전제품', '핸드폰', '전자상거래업', '가구', '문구', '자전거 및 기타운송장비', '섬유제품',
       '자동차미용', '여관', '인테리어', '수산물판매', '고시원', '완구', '부동산중개업', '가방'],
      dtype=object)

In [26]:
print(results_df.loc["한식음식점"])

train_mse             6565589343919916032.00
test_mse              9408567779922044928.00
train_rmse                     2562340598.73
test_rmse                      3067338875.95
train_r2                                0.93
test_r2                                 0.92
train_mae                      1425104691.97
test_mae                       1665300929.36
train_mae_ratio                        20.16
test_mae_ratio                         21.20
test_mae_ratio_max                 779954.45
test_mae_ratio_min                     15.01
test_mae_ratio_mean                 24739.19
Name: 한식음식점, dtype: float64