In [2]:
import pandas as pd

거주인구, 점포수, 매출액 데이터 비교<br>
행정동, 년분기, 업종명 등의 데이터가 일치하는지 확인

In [3]:
resident = pd.read_csv("Resident_Population_Dong423.csv")
store = pd.read_csv("Sorted_Number_of_Stores_v1.2.csv")
sales = pd.read_csv("Merged_Sales_data_v2.0.csv")

In [4]:
resident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동     423 non-null    object
 1   20191   423 non-null    int64
 2   20192   423 non-null    int64
 3   20193   423 non-null    int64
 4   20194   423 non-null    int64
 5   20201   423 non-null    int64
 6   20202   423 non-null    int64
 7   20203   423 non-null    int64
 8   20204   423 non-null    int64
 9   20211   423 non-null    int64
 10  20212   423 non-null    int64
 11  20213   423 non-null    int64
 12  20214   423 non-null    int64
 13  20221   423 non-null    int64
 14  20222   423 non-null    int64
 15  20223   423 non-null    int64
 16  20224   423 non-null    int64
 17  20231   423 non-null    int64
 18  20232   423 non-null    int64
 19  20233   423 non-null    int64
 20  20234   423 non-null    int64
 21  20241   423 non-null    int64
 22  20242   423 non-null    int64
dtypes: int64(22), object(1)
memory usage: 76.1+ KB

In [5]:
store.info(), store['행정동'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558742 entries, 0 to 558741
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   년분기     558742 non-null  int64
 1   행정동     558742 non-null  object
 2   업종명     558742 non-null  object
 3   점포_수    558742 non-null  int64
dtypes: int64(2), object(2)
memory usage: 17.1+ MB

(None, 423)

In [6]:
def Data_Comparison(a, b, c):
    """a = 데이터A
       b = 데이터B
       c = 비교할컬럼
    """
    set_a = set(a[c])
    set_b = set(b[c])
    common_values = set_a & set_b  # A와 B에 모두 있는 값
    only_in_a = set_a - set_b  # A에만 있는 값
    only_in_b = set_b - set_a  # B에만 있는 값

    # 결과 출력
    print("모두 있는 값:")
    print(common_values)

    print("\nA에만 있는 값:")
    print(only_in_a)

    print("\nB에만 있는 값:")
    print(only_in_b)

In [7]:
def Data_Comparison2(dict_to_compare, c):
    """
    dict_to_compare = {"sales" :sales, "store": store }
    """

    keys = list(dict_to_compare.keys())

    set_a = set(dict_to_compare[keys[0]][c])
    set_b = set(dict_to_compare[keys[1]][c])
    common_values = set_a & set_b  # A와 B에 모두 있는 값
    only_in_a = set_a - set_b  # A에만 있는 값
    only_in_b = set_b - set_a  # B에만 있는 값

    # 결과 출력
    print("모두 있는 값:")
    print(common_values)

    print(f"\n{keys[0]}에만 있는 값:")
    print(only_in_a)

    print(f"\n{keys[1]}에만 있는 값:")
    print(only_in_b)

In [8]:
Data_Comparison2({"sales" :sales, "store": store }, '행정동')

모두 있는 값:
{'신대방1동', '불광1동', '망우본동', '삼성1동', '목4동', '종로1·2·3·4가동', '회현동', '방학1동', '대림3동', '조원동', '목3동', '신길3동', '중계1동', '삼각산동', '상계1동', '구의1동', '약수동', '잠실6동', '잠원동', '신당동', '상계5동', '화곡8동', '개포4동', '잠실본동', '중계2·3동', '월계3동', '한강로동', '오륜동', '송천동', '월계2동', '가락2동', '신월7동', '상암동', '방학3동', '장충동', '인헌동', '사직동', '면목본동', '당산1동', '서초3동', '면목7동', '암사3동', '신월6동', '송중동', '신월1동', '마장동', '오류1동', '영등포본동', '길음2동', '반포본동', '대치4동', '개봉2동', '신림동', '홍제1동', '돈암1동', '고척1동', '문래동', '행당1동', '독산1동', '서교동', '원효로1동', '상도4동', '명일2동', '서빙고동', '효창동', '한남동', '신내2동', '잠실7동', '남현동', '화양동', '영등포동', '안암동', '당산2동', '상봉1동', '성내2동', '우이동', '역삼1동', '신길1동', '월계1동', '장위1동', '망원2동', '목2동', '신길7동', '묵1동', '대치1동', '역촌동', '중화1동', '암사2동', '장위3동', '관악구 신사동', '신길6동', '아현동', '명일1동', '성산1동', '남영동', '신사1동', '청량리동', '창신2동', '구의2동', '도림동', '이화동', '천호2동', '창신1동', '상도3동', '풍납1동', '흑석동', '오금동', '난향동', '일원본동', '삼선동', '창2동', '목5동', '상도2동', '창신3동', '노량진1동', '인수동', '양재1동', '중계4동', '내곡동', '방학2동', '일원2동', '성수1가1동', '면목4동', '청구동', '가락본동', '서강동', '신월4동', '낙성대동', '부암동', '휘경1동', '세곡동', '장안1동', '길음1동', '정릉4동', '염리동', '도곡2동', '금호1가동', '고덕1동', '쌍문3동', '천호1동', '시흥5동', '면목5동', '연희동', '화곡1동', '행당2동', '남가좌2동', '고척2동', '대조동', '묵2동', '서림동', '반포4동', '무악동', '혜화동', '이문1동', '구로5동', '제기동', '용산2가동', '홍은1동', '신정1동', '필동', '쌍문1동', '천연동', '공덕동', '삼양동', '개포1동', '가양2동', '신정2동', '신수동', '자양2동', '자양3동', '서초1동', '시흥1동', '청담동', '금호2·3가동', '미성동', '송파1동', '성현동', '잠실2동', '길동', '잠실4동', '신대방2동', '신정7동', '신사동', '방화1동', '도화동', '황학동', '숭인1동', '정릉2동', '이촌1동', '대흥동', '목1동', '장위2동', '신정4동', '마천2동', '금호4가동', '시흥4동', '신원동', '정릉3동', '번3동', '오류2동', '대림1동', '신월3동', '문정1동', '망원1동', '중앙동', '난곡동', '공릉1동', '일원1동', '정릉1동', '거여1동', '창1동', '신도림동', '합정동', '답십리1동', '시흥2동', '신사2동', '왕십리2동', '공릉2동', '사당4동', '명동', '개포2동', '구산동', '사근동', '가락1동', '사당3동', '중곡3동', '갈현2동', '화곡2동', '방화2동', '천호3동', '면목3·8동', '응암2동', '구의3동', '북아현동', '하계2동', '다산동', '북가좌2동', '성북동', '삼성동', '대방동', '양재2동', '강일동', '보광동', '갈현1동', '수서동', '응암3동', '발산1동', '화곡6동', '이태원1동', '자양1동', '수유1동', '상계9동', '상계6·7동', '가양3동', '염창동', '청파동', '중계본동', '방배4동', '전농2동', '방화3동', '가회동', '신정3동', '보라매동', '성수2가1동', '성산2동', '용신동', '동선동', '풍납2동', '용답동', '가리봉동', '종암동', '이문2동', '개봉3동', '위례동', '수색동', '군자동', '역삼2동', '응암1동', '창4동', '여의동', '서초4동', '쌍문2동', '양평1동', '숭인2동', '상일동', '창5동', '능동', '상도1동', '도봉1동', '용강동', '신정6동', '도봉2동', '상계8동', '구로2동', '압구정동', '옥수동', '용문동', '등촌2동', '상봉2동', '중곡2동', '신촌동', '장지동', '홍은2동', '사당5동', '노량진2동', '문정2동', '둔촌2동', '후암동', '반포2동', '신월2동', '소공동', '면목2동', '개봉1동', '종로5·6가동', '성내1동', '왕십리도선동', '수유3동', '전농1동', '응봉동', '가양1동', '마천1동', '방배3동', '독산3동', '연남동', '홍제3동', '광희동', '대림2동', '방이1동', '성수1가2동', '사당1동', '등촌3동', '방이2동', '장안2동', '상계3·4동', '은천동', '미아동', '구로3동', '거여2동', '성내3동', '홍제2동', '월곡2동', '불광2동', '충현동', '등촌1동', '서초2동', '대치2동', '삼전동', '북가좌1동', '공항동', '신당5동', '녹번동', '삼성2동', '광장동', '신월5동', '양평2동', '망우3동', '상계10동', '중화2동', '반포1동', '도곡1동', '평창동', '시흥3동', '석촌동', '신길4동', '독산4동', '하계1동', '상계2동', '구로4동', '방배1동', '논현1동', '사당2동', '화곡4동', '서원동', '자양4동', '창3동', '대학동', '이촌2동', '증산동', '방배본동', '중곡4동', '송파2동', '고덕2동', '신내1동', '화곡3동', '수궁동', '청룡동', '구로1동', '청운효자동', '반포3동', '돈암2동', '신길5동', '석관동', '남가좌1동', '교남동', '청림동', '답십리2동', '화곡본동', '중림동', '송정동', '쌍문4동', '휘경2동', '암사1동', '월곡1동', '진관동', '중곡1동', '회기동', '우장산동', '삼청동', '동화동', '이태원2동', '성수2가3동', '가산동', '번2동', '을지로동', '원효로2동', '독산2동', '번1동', '방배2동', '수유2동', '행운동', '보문동', '논현2동', '잠실3동'}

sales에만 있는 값:
set()

store에만 있는 값:
set()

In [9]:
Data_Comparison2({"resident" : resident, "store": store }, '행정동')

모두 있는 값:
{'신대방1동', '불광1동', '망우본동', '삼성1동', '목4동', '종로1·2·3·4가동', '회현동', '방학1동', '대림3동', '조원동', '목3동', '신길3동', '중계1동', '삼각산동', '상계1동', '구의1동', '약수동', '잠실6동', '잠원동', '신당동', '상계5동', '화곡8동', '개포4동', '잠실본동', '중계2·3동', '월계3동', '한강로동', '오륜동', '송천동', '월계2동', '가락2동', '신월7동', '상암동', '방학3동', '장충동', '인헌동', '사직동', '면목본동', '당산1동', '서초3동', '면목7동', '암사3동', '신월6동', '송중동', '신월1동', '마장동', '오류1동', '영등포본동', '길음2동', '반포본동', '대치4동', '개봉2동', '신림동', '홍제1동', '돈암1동', '고척1동', '문래동', '행당1동', '독산1동', '서교동', '원효로1동', '상도4동', '명일2동', '서빙고동', '효창동', '한남동', '신내2동', '잠실7동', '남현동', '화양동', '영등포동', '안암동', '당산2동', '상봉1동', '성내2동', '우이동', '역삼1동', '신길1동', '월계1동', '장위1동', '망원2동', '목2동', '신길7동', '묵1동', '대치1동', '역촌동', '중화1동', '암사2동', '장위3동', '관악구 신사동', '신길6동', '아현동', '명일1동', '성산1동', '남영동', '신사1동', '청량리동', '창신2동', '구의2동', '도림동', '이화동', '천호2동', '창신1동', '상도3동', '풍납1동', '흑석동', '오금동', '난향동', '일원본동', '삼선동', '창2동', '목5동', '상도2동', '창신3동', '노량진1동', '인수동', '양재1동', '중계4동', '내곡동', '방학2동', '일원2동', '성수1가1동', '면목4동', '청구동', '가락본동', '서강동', '신월4동', '낙성대동', '부암동', '휘경1동', '세곡동', '장안1동', '길음1동', '정릉4동', '염리동', '도곡2동', '금호1가동', '고덕1동', '쌍문3동', '천호1동', '시흥5동', '면목5동', '연희동', '화곡1동', '행당2동', '남가좌2동', '고척2동', '대조동', '묵2동', '서림동', '반포4동', '무악동', '혜화동', '이문1동', '구로5동', '제기동', '용산2가동', '홍은1동', '신정1동', '필동', '쌍문1동', '천연동', '공덕동', '삼양동', '개포1동', '가양2동', '신정2동', '신수동', '자양2동', '자양3동', '서초1동', '시흥1동', '청담동', '금호2·3가동', '미성동', '송파1동', '성현동', '잠실2동', '길동', '잠실4동', '신대방2동', '신정7동', '신사동', '방화1동', '도화동', '황학동', '숭인1동', '정릉2동', '이촌1동', '대흥동', '목1동', '장위2동', '신정4동', '마천2동', '금호4가동', '시흥4동', '신원동', '정릉3동', '번3동', '오류2동', '대림1동', '신월3동', '문정1동', '망원1동', '중앙동', '난곡동', '공릉1동', '일원1동', '정릉1동', '거여1동', '창1동', '신도림동', '합정동', '답십리1동', '시흥2동', '신사2동', '왕십리2동', '공릉2동', '사당4동', '명동', '개포2동', '구산동', '사근동', '가락1동', '사당3동', '중곡3동', '갈현2동', '화곡2동', '방화2동', '천호3동', '면목3·8동', '응암2동', '구의3동', '북아현동', '하계2동', '다산동', '북가좌2동', '성북동', '삼성동', '대방동', '양재2동', '강일동', '보광동', '갈현1동', '수서동', '응암3동', '발산1동', '화곡6동', '이태원1동', '자양1동', '수유1동', '상계9동', '상계6·7동', '가양3동', '염창동', '청파동', '중계본동', '방배4동', '전농2동', '방화3동', '가회동', '신정3동', '보라매동', '성수2가1동', '성산2동', '용신동', '동선동', '풍납2동', '용답동', '가리봉동', '종암동', '이문2동', '개봉3동', '위례동', '수색동', '군자동', '역삼2동', '응암1동', '창4동', '여의동', '서초4동', '쌍문2동', '양평1동', '숭인2동', '상일동', '창5동', '능동', '상도1동', '도봉1동', '용강동', '신정6동', '도봉2동', '상계8동', '구로2동', '압구정동', '옥수동', '용문동', '등촌2동', '상봉2동', '중곡2동', '신촌동', '장지동', '홍은2동', '사당5동', '노량진2동', '문정2동', '둔촌2동', '후암동', '반포2동', '신월2동', '소공동', '면목2동', '개봉1동', '종로5·6가동', '성내1동', '왕십리도선동', '수유3동', '전농1동', '응봉동', '가양1동', '마천1동', '방배3동', '독산3동', '연남동', '홍제3동', '광희동', '대림2동', '방이1동', '성수1가2동', '사당1동', '등촌3동', '방이2동', '장안2동', '상계3·4동', '은천동', '미아동', '구로3동', '거여2동', '성내3동', '홍제2동', '월곡2동', '불광2동', '충현동', '등촌1동', '서초2동', '대치2동', '삼전동', '북가좌1동', '공항동', '신당5동', '녹번동', '삼성2동', '광장동', '신월5동', '양평2동', '망우3동', '상계10동', '중화2동', '반포1동', '도곡1동', '평창동', '시흥3동', '석촌동', '신길4동', '독산4동', '하계1동', '상계2동', '구로4동', '방배1동', '논현1동', '사당2동', '화곡4동', '서원동', '자양4동', '창3동', '대학동', '이촌2동', '증산동', '방배본동', '중곡4동', '송파2동', '고덕2동', '신내1동', '화곡3동', '수궁동', '청룡동', '구로1동', '청운효자동', '반포3동', '돈암2동', '신길5동', '석관동', '남가좌1동', '교남동', '청림동', '답십리2동', '화곡본동', '중림동', '송정동', '쌍문4동', '휘경2동', '암사1동', '월곡1동', '진관동', '중곡1동', '회기동', '우장산동', '삼청동', '동화동', '이태원2동', '성수2가3동', '가산동', '번2동', '을지로동', '원효로2동', '독산2동', '번1동', '방배2동', '수유2동', '행운동', '보문동', '논현2동', '잠실3동'}

resident에만 있는 값:
set()

store에만 있는 값:
set()

In [10]:
Data_Comparison2({"sales" : sales, "store": store }, '년분기')

모두 있는 값:
{20224, 20231, 20232, 20233, 20234, 20241, 20242, 20191, 20192, 20193, 20194, 20201, 20202, 20203, 20204, 20211, 20212, 20213, 20214, 20221, 20222, 20223}

sales에만 있는 값:
set()

store에만 있는 값:
set()

In [11]:
Data_Comparison2({"sales" : sales, "store": store }, '업종명')

모두 있는 값:
{'자동차미용', '핸드폰', '미용실', '치과의원', '완구', '서적', '화초', '애완동물', '반찬가게', '자전거 및 기타운송장비', '컴퓨터및주변장치판매', '슈퍼마켓', '가방', '한식음식점', '안경', '커피-음료', '여관', '한의원', '치킨전문점', '고시원', '조명용품', '시계및귀금속', '철물점', '일식음식점', '일반의원', '일반교습학원', '가구', '당구장', '호프-간이주점', '골프연습장', '문구', '섬유제품', '운동/경기용품', '가전제품수리', '세탁소', '의료기기', '피부관리실', '스포츠 강습', '미곡판매', '인테리어', '청과상', '중식음식점', '수산물판매', '편의점', '네일숍', '부동산중개업', '전자상거래업', '제과점', '신발', '일반의류', '육류판매', 'PC방', '분식전문점', '노래방', '자동차수리', '예술학원', '패스트푸드점', '스포츠클럽', '의약품', '화장품', '가전제품', '양식음식점', '외국어학원'}

sales에만 있는 값:
set()

store에만 있는 값:
set()

<h1>데이터 병합 (거주인구 + 매출)</h1>

In [12]:
residenth = resident.melt(
    id_vars=["행정동"], var_name="년분기", value_name="인구수"
)

In [13]:
residenth["년분기"] = residenth["년분기"].astype(int)
sales["년분기"] = sales["년분기"].astype(int)

In [14]:
residenth[residenth['행정동'] == "가락1동"][:3]

      행정동    년분기    인구수
0    가락1동  20191  20186
423  가락1동  20192  26063
846  가락1동  20193  27207

In [15]:
residenth_sales = sales.merge( residenth, how="left", on=["행정동", "년분기"] )

In [16]:
residenth_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368339 entries, 0 to 368338
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   년분기     368339 non-null  int64
 1   행정동_코드  368339 non-null  int64
 2   행정동     368339 non-null  object
 3   업종명     368339 non-null  object
 4   월매출     368339 non-null  int64
 5   주중매출    368339 non-null  int64
 6   주말매출    368339 non-null  int64
 7   인구수     368339 non-null  int64
dtypes: int64(6), object(2)
memory usage: 22.5+ MB

In [17]:
a = residenth_sales[residenth_sales['행정동'] == "관악구 신사동"]
a.head(1)

       년분기    행정동_코드      행정동   업종명       월매출      주중매출  주말매출    인구수
295  20191  11620685  관악구 신사동  인테리어  14987007  14987007     0  17761

<h1>파일병합 (residenth_sales + store)</h1>

In [18]:
store["년분기"] = store["년분기"].astype(int)

In [19]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558742 entries, 0 to 558741
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   년분기     558742 non-null  int64
 1   행정동     558742 non-null  object
 2   업종명     558742 non-null  object
 3   점포_수    558742 non-null  int64
dtypes: int64(2), object(2)
memory usage: 17.1+ MB

In [20]:
residenth_sales_store = residenth_sales.merge( store, how="left", on=["행정동", "년분기", "업종명"] )

In [21]:
residenth_sales_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369095 entries, 0 to 369094
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   년분기     369095 non-null  int64
 1   행정동_코드  369095 non-null  int64
 2   행정동     369095 non-null  object
 3   업종명     369095 non-null  object
 4   월매출     369095 non-null  int64
 5   주중매출    369095 non-null  int64
 6   주말매출    369095 non-null  int64
 7   인구수     369095 non-null  int64
 8   점포_수    369095 non-null  int64
dtypes: int64(7), object(2)
memory usage: 25.3+ MB

In [22]:
residenth_sales_store.columns

Index(['년분기', '행정동_코드', '행정동', '업종명', '월매출', '주중매출', '주말매출', '인구수', '점포_수'], dtype='object')

In [23]:
residenth_sales_store.columns = ['년분기', '행정동_코드', '행정동', '업종명', '월매출', '주중매출', '주말매출', '인구수', '점포수']

In [24]:
a = residenth_sales_store[residenth_sales_store['행정동'] == "관악구 신사동"]
a.head(1)

       년분기    행정동_코드      행정동   업종명       월매출      주중매출  주말매출    인구수  점포수
295  20191  11620685  관악구 신사동  인테리어  14987007  14987007     0  17761   20

<h2>생활인구 데이터 확인</h2>

In [25]:
import pandas as pd

In [26]:
living_long = pd.read_csv(r'D:\Work\project\project2\oos\data\이원빈\외국인장기체류\Living_Long_merged.csv')
living_temp = pd.read_csv(r'D:\Work\project\project2\oos\data\이원빈\외국인단기체류\Living_Temp_merged.csv')
living_local = pd.read_csv(r'D:\Work\project\project2\oos\data\이원빈\생활인구\Living_Local_merged.csv')
sales = pd.read_csv("Merged_Sales_data_v2.0.csv")

In [27]:
living_long.columns

Index(['년분기', '행정동코드', '총생활인구'], dtype='object')

In [28]:
sales.columns

Index(['년분기', '행정동_코드', '행정동', '업종명', '월매출', '주중매출', '주말매출'], dtype='object')

In [29]:
living_long.columns = ['년분기', '행정동_코드', '총생활인구']
living_temp.columns = ['년분기', '행정동_코드', '총생활인구']
living_local.columns = ['년분기', '행정동_코드', '총생활인구']

In [30]:
Data_Comparison2({"sales" : sales, "living_long" : living_long}, '행정동_코드')

모두 있는 값:
{11290630, 11200520, 11290640, 11200535, 11290650, 11200540, 11290660, 11200550, 11710510, 11200560, 11710520, 11200570, 11290685, 11710531, 11200580, 11710532, 11710540, 11200590, 11290705, 11710550, 11290715, 11710561, 11710562, 11290725, 11710566, 11200615, 11710570, 11200620, 11110515, 11710580, 11710590, 11110530, 11200645, 11290760, 11710600, 11200650, 11110540, 11290770, 11710610, 11200660, 11110550, 11290780, 11710620, 11200670, 11110560, 11710631, 11710632, 11110570, 11620525, 11710641, 11200690, 11710642, 11110580, 11710646, 11710647, 11290810, 11710650, 11620545, 11110600, 11710670, 11200720, 11620565, 11110615, 11710680, 11620575, 11710690, 11110630, 11620585, 11110640, 11620595, 11710710, 11110650, 11620605, 11710720, 11620615, 11110670, 11530510, 11620625, 11200790, 11620630, 11110680, 11530520, 11110690, 11530530, 11620645, 11110700, 11530540, 11620655, 11110710, 11530550, 11620665, 11530560, 11620685, 11620695, 11530595, 11620715, 11620725, 11620735, 11620745, 11620765, 11620775, 11440555, 11440565, 11440585, 11440590, 11440600, 11530720, 11440610, 11530730, 11530740, 11440630, 11530750, 11530760, 11440655, 11530770, 11440660, 11530780, 11350560, 11530790, 11440680, 11350570, 11440690, 11350580, 11440700, 11305534, 11305535, 11350595, 11440710, 11350600, 11305545, 11440720, 11305555, 11350611, 11350612, 11440730, 11350619, 11350621, 11350624, 11350625, 11440740, 11350630, 11305575, 11260520, 11350640, 11260540, 11260550, 11350665, 11350670, 11260565, 11260570, 11260575, 11260580, 11350695, 11350700, 11305645, 11260590, 11350710, 11260600, 11305660, 11350720, 11260610, 11260620, 11170510, 11260630, 11170520, 11170530, 11260655, 11260660, 11170555, 11680510, 11170560, 11260680, 11680521, 11170570, 11260690, 11680531, 11170580, 11170590, 11680545, 11680565, 11170625, 11680580, 11170630, 11680590, 11170640, 11680600, 11170650, 11215710, 11680610, 11170660, 11590510, 11215730, 11680630, 11590520, 11215740, 11170685, 11680640, 11170690, 11590530, 11215750, 11680650, 11170700, 11590540, 11680655, 11215760, 11680656, 11680660, 11590550, 11215770, 11680670, 11590560, 11215780, 11545510, 11680690, 11680700, 11215810, 11215820, 11590605, 11680720, 11215830, 11680730, 11590620, 11500510, 11215840, 11680740, 11590630, 11215847, 11500520, 11215850, 11680750, 11590640, 11500530, 11215860, 11500535, 11590650, 11590651, 11500540, 11215870, 11590660, 11500550, 11545610, 11590670, 11500560, 11545620, 11590680, 11500570, 11545630, 11545640, 11500590, 11500591, 11500593, 11500603, 11500604, 11500605, 11500611, 11545670, 11500615, 11500620, 11545680, 11500630, 11410520, 11545690, 11500640, 11500641, 11545700, 11545710, 11410555, 11410565, 11410585, 11410615, 11410620, 11320511, 11320512, 11320513, 11320514, 11320515, 11320521, 11320522, 11410640, 11410655, 11410660, 11410685, 11410690, 11410700, 11410710, 11410720, 11230536, 11230545, 11320660, 11320670, 11230560, 11740515, 11320680, 11320681, 11230570, 11740520, 11320690, 11740530, 11320700, 11740540, 11320710, 11740550, 11230600, 11740560, 11230610, 11740570, 11740580, 11140520, 11740590, 11740600, 11230650, 11140540, 11740610, 11230660, 11140550, 11740620, 11650510, 11650520, 11140570, 11740640, 11650530, 11650531, 11140580, 11740650, 11650540, 11140590, 11230705, 11740660, 11230710, 11650550, 11140605, 11230720, 11650560, 11140615, 11230730, 11650570, 11740685, 11140625, 11230740, 11650580, 11650581, 11140635, 11740700, 11230750, 11650590, 11140645, 11650600, 11140650, 11650610, 11140665, 11650620, 11650621, 11140670, 11560515, 11140680, 11560535, 11650651, 11560540, 11650652, 11650660, 11560550, 11560560, 11560585, 11560605, 11560610, 11560620, 11470510, 11560630, 11470520, 11470530, 11560650, 11470540, 11560660, 11470550, 11560670, 11470560, 11560680, 11470570, 11560690, 11470580, 11560700, 11470590, 11560710, 11470600, 11560720, 11470610, 11470611, 11470620, 11380510, 11470630, 11380520, 11470640, 11380530, 11470650, 11380551, 11380552, 11470670, 11380560, 11470680, 11380570, 11380580, 11380590, 11380600, 11380625, 11380631, 11380632, 11290525, 11380640, 11380650, 11290555, 11290575, 11380690, 11290580, 11290590, 11290600, 11290610, 11290620}

sales에만 있는 값:
{11305603, 11305635, 11305608, 11305615, 11530800, 11305625, 11305595}

living_long에만 있는 값:
{11305600, 11305606, 11305610, 11740690, 11305620, 11305590, 11305630}

In [31]:
living_long["행정동_코드"].nunique()

424

In [32]:
Data_Comparison2({"sales" : sales, "living_temp" : living_temp}, '행정동_코드')

모두 있는 값:
{11290630, 11200520, 11290640, 11200535, 11290650, 11200540, 11290660, 11200550, 11710510, 11200560, 11710520, 11200570, 11290685, 11710531, 11200580, 11710532, 11710540, 11200590, 11290705, 11710550, 11290715, 11710561, 11710562, 11290725, 11710566, 11200615, 11710570, 11200620, 11110515, 11710580, 11710590, 11110530, 11200645, 11290760, 11710600, 11200650, 11110540, 11290770, 11710610, 11200660, 11110550, 11290780, 11710620, 11200670, 11110560, 11710631, 11710632, 11110570, 11620525, 11710641, 11200690, 11710642, 11110580, 11710646, 11710647, 11290810, 11710650, 11620545, 11110600, 11710670, 11200720, 11620565, 11110615, 11710680, 11620575, 11710690, 11110630, 11620585, 11110640, 11620595, 11710710, 11110650, 11620605, 11710720, 11620615, 11110670, 11530510, 11620625, 11200790, 11620630, 11110680, 11530520, 11110690, 11530530, 11620645, 11110700, 11530540, 11620655, 11110710, 11530550, 11620665, 11530560, 11620685, 11620695, 11530595, 11620715, 11620725, 11620735, 11620745, 11620765, 11620775, 11440555, 11440565, 11440585, 11440590, 11440600, 11530720, 11440610, 11530730, 11530740, 11440630, 11530750, 11530760, 11440655, 11530770, 11440660, 11530780, 11350560, 11530790, 11440680, 11350570, 11440690, 11350580, 11440700, 11305534, 11305535, 11350595, 11440710, 11350600, 11305545, 11440720, 11305555, 11350611, 11350612, 11440730, 11350619, 11350621, 11350624, 11350625, 11440740, 11350630, 11305575, 11260520, 11350640, 11260540, 11260550, 11350665, 11350670, 11260565, 11260570, 11260575, 11260580, 11350695, 11350700, 11305645, 11260590, 11350710, 11260600, 11305660, 11350720, 11260610, 11260620, 11170510, 11260630, 11170520, 11170530, 11260655, 11260660, 11170555, 11680510, 11170560, 11260680, 11680521, 11170570, 11260690, 11680531, 11170580, 11170590, 11680545, 11680565, 11170625, 11680580, 11170630, 11680590, 11170640, 11680600, 11170650, 11215710, 11680610, 11170660, 11590510, 11215730, 11680630, 11590520, 11215740, 11170685, 11680640, 11170690, 11590530, 11215750, 11680650, 11170700, 11590540, 11680655, 11215760, 11680656, 11680660, 11590550, 11215770, 11680670, 11590560, 11215780, 11545510, 11680690, 11680700, 11215810, 11215820, 11590605, 11680720, 11215830, 11680730, 11590620, 11500510, 11215840, 11680740, 11590630, 11215847, 11500520, 11215850, 11680750, 11590640, 11500530, 11215860, 11500535, 11590650, 11590651, 11500540, 11215870, 11590660, 11500550, 11545610, 11590670, 11500560, 11545620, 11590680, 11500570, 11545630, 11545640, 11500590, 11500591, 11500593, 11500603, 11500604, 11500605, 11500611, 11545670, 11500615, 11500620, 11545680, 11500630, 11410520, 11545690, 11500640, 11500641, 11545700, 11545710, 11410555, 11410565, 11410585, 11410615, 11410620, 11320511, 11320512, 11320513, 11320514, 11320515, 11320521, 11320522, 11410640, 11410655, 11410660, 11410685, 11410690, 11410700, 11410710, 11410720, 11230536, 11230545, 11320660, 11320670, 11230560, 11740515, 11320680, 11320681, 11230570, 11740520, 11320690, 11740530, 11320700, 11740540, 11320710, 11740550, 11230600, 11740560, 11230610, 11740570, 11740580, 11140520, 11740590, 11740600, 11230650, 11140540, 11740610, 11230660, 11140550, 11740620, 11650510, 11650520, 11140570, 11740640, 11650530, 11650531, 11140580, 11740650, 11650540, 11140590, 11230705, 11740660, 11230710, 11650550, 11140605, 11230720, 11650560, 11140615, 11230730, 11650570, 11740685, 11140625, 11230740, 11650580, 11650581, 11140635, 11740700, 11230750, 11650590, 11140645, 11650600, 11140650, 11650610, 11140665, 11650620, 11650621, 11140670, 11560515, 11140680, 11560535, 11650651, 11560540, 11650652, 11650660, 11560550, 11560560, 11560585, 11560605, 11560610, 11560620, 11470510, 11560630, 11470520, 11470530, 11560650, 11470540, 11560660, 11470550, 11560670, 11470560, 11560680, 11470570, 11560690, 11470580, 11560700, 11470590, 11560710, 11470600, 11560720, 11470610, 11470611, 11470620, 11380510, 11470630, 11380520, 11470640, 11380530, 11470650, 11380551, 11380552, 11470670, 11380560, 11470680, 11380570, 11380580, 11380590, 11380600, 11380625, 11380631, 11380632, 11290525, 11380640, 11380650, 11290555, 11290575, 11380690, 11290580, 11290590, 11290600, 11290610, 11290620}

sales에만 있는 값:
{11305603, 11305635, 11305608, 11305615, 11530800, 11305625, 11305595}

living_temp에만 있는 값:
{11305600, 11305606, 11305610, 11740690, 11305620, 11305590, 11305630}

In [33]:
sales.loc[sales['행정동_코드'] == 11530800, '행정동_코드'] = 11530780

In [34]:
# 행정동 코드 변환 함수
def code_change(a):
    """a = 변환할 데이터"""
    # 치환할 값 매핑
    replace_dict = {
        11530800: 11530780,
        11305600: 11305603,
        11305606: 11305608,
        11305610: 11305615,
        11305620: 11305625,
        11305590: 11305595,
        11305630: 11305635
    }
    
    # 치환 실행
    a['행정동_코드'] = a['행정동_코드'].replace(replace_dict)
    
    # 11740690 값 제거
    a = a.loc[a['행정동_코드'] != 11740690]
    return a

In [35]:
living_long = code_change(living_long)
living_temp = code_change(living_temp)
living_local = code_change(living_local)

In [36]:
Data_Comparison2({"sales" : sales, "living_long" : living_long}, '행정동_코드')

모두 있는 값:
{11290630, 11200520, 11290640, 11200535, 11290650, 11200540, 11290660, 11200550, 11710510, 11200560, 11710520, 11200570, 11290685, 11710531, 11200580, 11710532, 11710540, 11200590, 11290705, 11710550, 11290715, 11710561, 11710562, 11290725, 11710566, 11200615, 11710570, 11200620, 11110515, 11710580, 11710590, 11110530, 11200645, 11290760, 11710600, 11200650, 11110540, 11290770, 11710610, 11200660, 11110550, 11290780, 11710620, 11200670, 11110560, 11710631, 11710632, 11110570, 11620525, 11710641, 11200690, 11710642, 11110580, 11710646, 11710647, 11290810, 11710650, 11620545, 11110600, 11710670, 11200720, 11620565, 11110615, 11710680, 11620575, 11710690, 11110630, 11620585, 11110640, 11620595, 11710710, 11110650, 11620605, 11710720, 11620615, 11110670, 11530510, 11620625, 11200790, 11620630, 11110680, 11530520, 11110690, 11530530, 11620645, 11110700, 11530540, 11620655, 11110710, 11530550, 11620665, 11530560, 11620685, 11620695, 11530595, 11620715, 11620725, 11620735, 11620745, 11620765, 11620775, 11440555, 11440565, 11440585, 11440590, 11440600, 11530720, 11440610, 11530730, 11530740, 11440630, 11530750, 11530760, 11440655, 11530770, 11440660, 11530780, 11350560, 11530790, 11440680, 11350570, 11440690, 11350580, 11440700, 11305534, 11305535, 11350595, 11440710, 11350600, 11305545, 11440720, 11305555, 11350611, 11350612, 11440730, 11350619, 11350621, 11350624, 11350625, 11440740, 11350630, 11305575, 11260520, 11350640, 11305595, 11260540, 11305603, 11260550, 11305608, 11350665, 11350670, 11305615, 11260565, 11305625, 11260570, 11260575, 11305635, 11260580, 11350695, 11350700, 11305645, 11260590, 11350710, 11260600, 11305660, 11350720, 11260610, 11260620, 11170510, 11260630, 11170520, 11170530, 11260655, 11260660, 11170555, 11680510, 11170560, 11260680, 11680521, 11170570, 11260690, 11680531, 11170580, 11170590, 11680545, 11680565, 11170625, 11680580, 11170630, 11680590, 11170640, 11680600, 11170650, 11215710, 11680610, 11170660, 11590510, 11215730, 11680630, 11590520, 11215740, 11170685, 11680640, 11170690, 11590530, 11215750, 11680650, 11170700, 11590540, 11680655, 11215760, 11680656, 11680660, 11590550, 11215770, 11680670, 11590560, 11215780, 11545510, 11680690, 11680700, 11215810, 11215820, 11590605, 11680720, 11215830, 11680730, 11590620, 11500510, 11215840, 11680740, 11590630, 11215847, 11500520, 11215850, 11680750, 11590640, 11500530, 11215860, 11500535, 11590650, 11590651, 11500540, 11215870, 11590660, 11500550, 11545610, 11590670, 11500560, 11545620, 11590680, 11500570, 11545630, 11545640, 11500590, 11500591, 11500593, 11500603, 11500604, 11500605, 11500611, 11545670, 11500615, 11500620, 11545680, 11500630, 11410520, 11545690, 11500640, 11500641, 11545700, 11545710, 11410555, 11410565, 11410585, 11410615, 11410620, 11320511, 11320512, 11320513, 11320514, 11320515, 11320521, 11320522, 11410640, 11410655, 11410660, 11410685, 11410690, 11410700, 11410710, 11410720, 11230536, 11230545, 11320660, 11320670, 11230560, 11740515, 11320680, 11320681, 11230570, 11740520, 11320690, 11740530, 11320700, 11740540, 11320710, 11740550, 11230600, 11740560, 11230610, 11740570, 11740580, 11140520, 11740590, 11740600, 11230650, 11140540, 11740610, 11230660, 11140550, 11740620, 11650510, 11650520, 11140570, 11740640, 11650530, 11650531, 11140580, 11740650, 11650540, 11140590, 11230705, 11740660, 11230710, 11650550, 11140605, 11230720, 11650560, 11140615, 11230730, 11650570, 11740685, 11140625, 11230740, 11650580, 11650581, 11140635, 11740700, 11230750, 11650590, 11140645, 11650600, 11140650, 11650610, 11140665, 11650620, 11650621, 11140670, 11560515, 11140680, 11560535, 11650651, 11560540, 11650652, 11650660, 11560550, 11560560, 11560585, 11560605, 11560610, 11560620, 11470510, 11560630, 11470520, 11470530, 11560650, 11470540, 11560660, 11470550, 11560670, 11470560, 11560680, 11470570, 11560690, 11470580, 11560700, 11470590, 11560710, 11470600, 11560720, 11470610, 11470611, 11470620, 11380510, 11470630, 11380520, 11470640, 11380530, 11470650, 11380551, 11380552, 11470670, 11380560, 11470680, 11380570, 11380580, 11380590, 11380600, 11380625, 11380631, 11380632, 11290525, 11380640, 11380650, 11290555, 11290575, 11380690, 11290580, 11290590, 11290600, 11290610, 11290620}

sales에만 있는 값:
set()

living_long에만 있는 값:
set()

In [37]:
Data_Comparison2({"sales" : sales, "living_temp" : living_temp}, '행정동_코드')

모두 있는 값:
{11290630, 11200520, 11290640, 11200535, 11290650, 11200540, 11290660, 11200550, 11710510, 11200560, 11710520, 11200570, 11290685, 11710531, 11200580, 11710532, 11710540, 11200590, 11290705, 11710550, 11290715, 11710561, 11710562, 11290725, 11710566, 11200615, 11710570, 11200620, 11110515, 11710580, 11710590, 11110530, 11200645, 11290760, 11710600, 11200650, 11110540, 11290770, 11710610, 11200660, 11110550, 11290780, 11710620, 11200670, 11110560, 11710631, 11710632, 11110570, 11620525, 11710641, 11200690, 11710642, 11110580, 11710646, 11710647, 11290810, 11710650, 11620545, 11110600, 11710670, 11200720, 11620565, 11110615, 11710680, 11620575, 11710690, 11110630, 11620585, 11110640, 11620595, 11710710, 11110650, 11620605, 11710720, 11620615, 11110670, 11530510, 11620625, 11200790, 11620630, 11110680, 11530520, 11110690, 11530530, 11620645, 11110700, 11530540, 11620655, 11110710, 11530550, 11620665, 11530560, 11620685, 11620695, 11530595, 11620715, 11620725, 11620735, 11620745, 11620765, 11620775, 11440555, 11440565, 11440585, 11440590, 11440600, 11530720, 11440610, 11530730, 11530740, 11440630, 11530750, 11530760, 11440655, 11530770, 11440660, 11530780, 11350560, 11530790, 11440680, 11350570, 11440690, 11350580, 11440700, 11305534, 11305535, 11350595, 11440710, 11350600, 11305545, 11440720, 11305555, 11350611, 11350612, 11440730, 11350619, 11350621, 11350624, 11350625, 11440740, 11350630, 11305575, 11260520, 11350640, 11305595, 11260540, 11305603, 11260550, 11305608, 11350665, 11350670, 11305615, 11260565, 11305625, 11260570, 11260575, 11305635, 11260580, 11350695, 11350700, 11305645, 11260590, 11350710, 11260600, 11305660, 11350720, 11260610, 11260620, 11170510, 11260630, 11170520, 11170530, 11260655, 11260660, 11170555, 11680510, 11170560, 11260680, 11680521, 11170570, 11260690, 11680531, 11170580, 11170590, 11680545, 11680565, 11170625, 11680580, 11170630, 11680590, 11170640, 11680600, 11170650, 11215710, 11680610, 11170660, 11590510, 11215730, 11680630, 11590520, 11215740, 11170685, 11680640, 11170690, 11590530, 11215750, 11680650, 11170700, 11590540, 11680655, 11215760, 11680656, 11680660, 11590550, 11215770, 11680670, 11590560, 11215780, 11545510, 11680690, 11680700, 11215810, 11215820, 11590605, 11680720, 11215830, 11680730, 11590620, 11500510, 11215840, 11680740, 11590630, 11215847, 11500520, 11215850, 11680750, 11590640, 11500530, 11215860, 11500535, 11590650, 11590651, 11500540, 11215870, 11590660, 11500550, 11545610, 11590670, 11500560, 11545620, 11590680, 11500570, 11545630, 11545640, 11500590, 11500591, 11500593, 11500603, 11500604, 11500605, 11500611, 11545670, 11500615, 11500620, 11545680, 11500630, 11410520, 11545690, 11500640, 11500641, 11545700, 11545710, 11410555, 11410565, 11410585, 11410615, 11410620, 11320511, 11320512, 11320513, 11320514, 11320515, 11320521, 11320522, 11410640, 11410655, 11410660, 11410685, 11410690, 11410700, 11410710, 11410720, 11230536, 11230545, 11320660, 11320670, 11230560, 11740515, 11320680, 11320681, 11230570, 11740520, 11320690, 11740530, 11320700, 11740540, 11320710, 11740550, 11230600, 11740560, 11230610, 11740570, 11740580, 11140520, 11740590, 11740600, 11230650, 11140540, 11740610, 11230660, 11140550, 11740620, 11650510, 11650520, 11140570, 11740640, 11650530, 11650531, 11140580, 11740650, 11650540, 11140590, 11230705, 11740660, 11230710, 11650550, 11140605, 11230720, 11650560, 11140615, 11230730, 11650570, 11740685, 11140625, 11230740, 11650580, 11650581, 11140635, 11740700, 11230750, 11650590, 11140645, 11650600, 11140650, 11650610, 11140665, 11650620, 11650621, 11140670, 11560515, 11140680, 11560535, 11650651, 11560540, 11650652, 11650660, 11560550, 11560560, 11560585, 11560605, 11560610, 11560620, 11470510, 11560630, 11470520, 11470530, 11560650, 11470540, 11560660, 11470550, 11560670, 11470560, 11560680, 11470570, 11560690, 11470580, 11560700, 11470590, 11560710, 11470600, 11560720, 11470610, 11470611, 11470620, 11380510, 11470630, 11380520, 11470640, 11380530, 11470650, 11380551, 11380552, 11470670, 11380560, 11470680, 11380570, 11380580, 11380590, 11380600, 11380625, 11380631, 11380632, 11290525, 11380640, 11380650, 11290555, 11290575, 11380690, 11290580, 11290590, 11290600, 11290610, 11290620}

sales에만 있는 값:
set()

living_temp에만 있는 값:
set()

In [38]:
Data_Comparison2({"sales" : sales, "living_local" : living_local}, '행정동_코드')

모두 있는 값:
{11290630, 11200520, 11290640, 11200535, 11290650, 11200540, 11290660, 11200550, 11710510, 11200560, 11710520, 11200570, 11290685, 11710531, 11200580, 11710532, 11710540, 11200590, 11290705, 11710550, 11290715, 11710561, 11710562, 11290725, 11710566, 11200615, 11710570, 11200620, 11110515, 11710580, 11710590, 11110530, 11200645, 11290760, 11710600, 11200650, 11110540, 11290770, 11710610, 11200660, 11110550, 11290780, 11710620, 11200670, 11110560, 11710631, 11710632, 11110570, 11620525, 11710641, 11200690, 11710642, 11110580, 11710646, 11710647, 11290810, 11710650, 11620545, 11110600, 11710670, 11200720, 11620565, 11110615, 11710680, 11620575, 11710690, 11110630, 11620585, 11110640, 11620595, 11710710, 11110650, 11620605, 11710720, 11620615, 11110670, 11530510, 11620625, 11200790, 11620630, 11110680, 11530520, 11110690, 11530530, 11620645, 11110700, 11530540, 11620655, 11110710, 11530550, 11620665, 11530560, 11620685, 11620695, 11530595, 11620715, 11620725, 11620735, 11620745, 11620765, 11620775, 11440555, 11440565, 11440585, 11440590, 11440600, 11530720, 11440610, 11530730, 11530740, 11440630, 11530750, 11530760, 11440655, 11530770, 11440660, 11530780, 11350560, 11530790, 11440680, 11350570, 11440690, 11350580, 11440700, 11305534, 11305535, 11350595, 11440710, 11350600, 11305545, 11440720, 11305555, 11350611, 11350612, 11440730, 11350619, 11350621, 11350624, 11350625, 11440740, 11350630, 11305575, 11260520, 11350640, 11305595, 11260540, 11305603, 11260550, 11305608, 11350665, 11350670, 11305615, 11260565, 11305625, 11260570, 11260575, 11305635, 11260580, 11350695, 11350700, 11305645, 11260590, 11350710, 11260600, 11305660, 11350720, 11260610, 11260620, 11170510, 11260630, 11170520, 11170530, 11260655, 11260660, 11170555, 11680510, 11170560, 11260680, 11680521, 11170570, 11260690, 11680531, 11170580, 11170590, 11680545, 11680565, 11170625, 11680580, 11170630, 11680590, 11170640, 11680600, 11170650, 11215710, 11680610, 11170660, 11590510, 11215730, 11680630, 11590520, 11215740, 11170685, 11680640, 11170690, 11590530, 11215750, 11680650, 11170700, 11590540, 11680655, 11215760, 11680656, 11680660, 11590550, 11215770, 11680670, 11590560, 11215780, 11545510, 11680690, 11680700, 11215810, 11215820, 11590605, 11680720, 11215830, 11680730, 11590620, 11500510, 11215840, 11680740, 11590630, 11215847, 11500520, 11215850, 11680750, 11590640, 11500530, 11215860, 11500535, 11590650, 11590651, 11500540, 11215870, 11590660, 11500550, 11545610, 11590670, 11500560, 11545620, 11590680, 11500570, 11545630, 11545640, 11500590, 11500591, 11500593, 11500603, 11500604, 11500605, 11500611, 11545670, 11500615, 11500620, 11545680, 11500630, 11410520, 11545690, 11500640, 11500641, 11545700, 11545710, 11410555, 11410565, 11410585, 11410615, 11410620, 11320511, 11320512, 11320513, 11320514, 11320515, 11320521, 11320522, 11410640, 11410655, 11410660, 11410685, 11410690, 11410700, 11410710, 11410720, 11230536, 11230545, 11320660, 11320670, 11230560, 11740515, 11320680, 11320681, 11230570, 11740520, 11320690, 11740530, 11320700, 11740540, 11320710, 11740550, 11230600, 11740560, 11230610, 11740570, 11740580, 11140520, 11740590, 11740600, 11230650, 11140540, 11740610, 11230660, 11140550, 11740620, 11650510, 11650520, 11140570, 11740640, 11650530, 11650531, 11140580, 11740650, 11650540, 11140590, 11230705, 11740660, 11230710, 11650550, 11140605, 11230720, 11650560, 11140615, 11230730, 11650570, 11740685, 11140625, 11230740, 11650580, 11650581, 11140635, 11740700, 11230750, 11650590, 11140645, 11650600, 11140650, 11650610, 11140665, 11650620, 11650621, 11140670, 11560515, 11140680, 11560535, 11650651, 11560540, 11650652, 11650660, 11560550, 11560560, 11560585, 11560605, 11560610, 11560620, 11470510, 11560630, 11470520, 11470530, 11560650, 11470540, 11560660, 11470550, 11560670, 11470560, 11560680, 11470570, 11560690, 11470580, 11560700, 11470590, 11560710, 11470600, 11560720, 11470610, 11470611, 11470620, 11380510, 11470630, 11380520, 11470640, 11380530, 11470650, 11380551, 11380552, 11470670, 11380560, 11470680, 11380570, 11380580, 11380590, 11380600, 11380625, 11380631, 11380632, 11290525, 11380640, 11380650, 11290555, 11290575, 11380690, 11290580, 11290590, 11290600, 11290610, 11290620}

sales에만 있는 값:
set()

living_local에만 있는 값:
set()

In [39]:
living_long.columns = ['년분기', '행정동_코드', '장기외국인']
living_local.columns = ['년분기', '행정동_코드', '지역생활인구']
living_temp.columns = ['년분기', '행정동_코드', '단기외국인']

In [40]:
# 데이터 병합
merged_living_local_long = living_local.merge( living_long, how="left", on=["년분기", "행정동_코드"] )
merged_living_local_long_temp = merged_living_local_long.merge( living_temp, how="left", on=["년분기", "행정동_코드"] )

In [41]:
#데이터 확인
merged_living_local_long_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9306 entries, 0 to 9305
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년분기     9306 non-null   int64
 1   행정동_코드  9306 non-null   int64
 2   지역생활인구  9306 non-null   int64
 3   장기외국인   9306 non-null   int64
 4   단기외국인   9306 non-null   int64
dtypes: int64(5)
memory usage: 363.6 KB

In [42]:
residenth_sales_store.loc[residenth_sales_store['행정동_코드'] == 11530800, '행정동_코드'] = 11530780

In [43]:
merged_data = residenth_sales_store.merge( merged_living_local_long_temp, how="left", on=["년분기", "행정동_코드"] )

In [44]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369095 entries, 0 to 369094
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   년분기     369095 non-null  int64
 1   행정동_코드  369095 non-null  int64
 2   행정동     369095 non-null  object
 3   업종명     369095 non-null  object
 4   월매출     369095 non-null  int64
 5   주중매출    369095 non-null  int64
 6   주말매출    369095 non-null  int64
 7   인구수     369095 non-null  int64
 8   점포수     369095 non-null  int64
 9   지역생활인구  369095 non-null  int64
 10  장기외국인   369095 non-null  int64
 11  단기외국인   369095 non-null  int64
dtypes: int64(10), object(2)
memory usage: 33.8+ MB

In [45]:
# 결측치가 있는 행의 번호 찾기
missing_rows = merged_data[merged_data.isnull().any(axis=1)].index.tolist()

# 출력
print("결측치가 있는 행 번호:", missing_rows)

결측치가 있는 행 번호: []

In [ ]:
#merged_data = ['년분기', '행정동_코드', '행정동', '업종명', '월매출', '주중매출', '주말매출', '인구수', '점포수', '지역생활인구', '장기외국인', '단기외국인']
#merged_data.to_csv("Merged_Sales_data_v2.1.csv", index=False)

<h1>상관관계분석 시운전</h1>

In [48]:
sales["업종명"].unique()

array(['네일숍', '서적', '의료기기', '골프연습장', '커피-음료', '당구장', '한식음식점',
       '자전거 및 기타운송장비', '중식음식점', '한의원', '치과의원', '조명용품', '의약품', '피부관리실',
       '분식전문점', '편의점', '세탁소', '자동차수리', '반찬가게', '외국어학원', '시계및귀금속', '화초',
       '미곡판매', '수산물판매', '신발', '여관', '애완동물', '미용실', '운동/경기용품', '일반교습학원',
       '일반의원', '호프-간이주점', '예술학원', 'PC방', '핸드폰', '화장품', '가구', '육류판매',
       '스포츠 강습', '일반의류', '제과점', '스포츠클럽', '청과상', '철물점', '패스트푸드점', '슈퍼마켓',
       '안경', '일식음식점', '전자상거래업', '치킨전문점', '섬유제품', '가방', '자동차미용', '문구',
       '완구', '컴퓨터및주변장치판매', '가전제품수리', '인테리어', '노래방', '부동산중개업', '가전제품',
       '양식음식점', '고시원'], dtype=object)

In [51]:
import pandas as pd
merged_data = pd.read_csv("Merged_Sales_data_v2.2.csv")

In [62]:
c = merged_data[merged_data["업종명"] == "한식음식점"]
c.head()
import pandas as pd

# Step 1: 숫자형 데이터 선택
numeric_data = c.select_dtypes(include=['number'])

# Step 2: '행정동'과 '업종명' 원-핫 인코딩
one_hot_encoded = pd.get_dummies(c[['행정동', '업종명']], prefix=['행정동', '업종명'])

# Step 3: 숫자형 데이터와 원-핫 인코딩 결합
combined_data = pd.concat([numeric_data, one_hot_encoded], axis=1)

# Step 4: 상관관계 계산
correlation_matrix = combined_data.corr()

# Step 5: 데이터프레임으로 변환
correlation_df = pd.DataFrame(correlation_matrix)

# Step 6: 상관관계 결과 확인
print("상관관계 분석 결과 (데이터프레임 형식):")
print(correlation_df)
# '월매출' 열 기준으로 내림차순 정렬
sorted_correlation = correlation_df["월매출"].sort_values(ascending=False)

상관관계 분석 결과 (데이터프레임 형식):
                    년분기        행정동_코드       월매출      주중매출      주말매출       인구수  \
년분기        1.000000e+00 -6.142988e-14  0.135720  0.123348  0.165959 -0.027796
행정동_코드    -6.142988e-14  1.000000e+00  0.050153  0.052702  0.035435  0.344522
월매출        1.357203e-01  5.015283e-02  1.000000  0.993758  0.914028  0.053788
주중매출       1.233485e-01  5.270162e-02  0.993758  1.000000  0.863069  0.039348
주말매출       1.659588e-01  3.543468e-02  0.914028  0.863069  1.000000  0.100454
...                 ...           ...       ...       ...       ...       ...
행정동_후암동    1.266923e-14 -6.669640e-02 -0.011749 -0.009390 -0.019048 -0.030464
행정동_휘경1동   1.729905e-14 -5.164364e-02 -0.019801 -0.018351 -0.022923 -0.038319
행정동_휘경2동   8.844332e-15 -5.164114e-02 -0.026957 -0.025008 -0.031116  0.007477
행정동_흑석동    8.914931e-15  3.832914e-02 -0.000255  0.001439 -0.006388  0.049679
업종명_한식음식점           NaN           NaN       NaN       NaN       NaN       NaN

                점포수    지역생활인구     장기외국인     단기외국인  ...       행정동_화양동  \
년분기        0.008229 -0.020393 -0.020617  0.010891  ... -1.278470e-14
행정동_코드     0.019299  0.299587 -0.034625 -0.088353  ... -5.539621e-02
월매출        0.890294  0.618534  0.346105  0.542725  ...  7.610053e-02
주중매출       0.876277  0.617790  0.337255  0.545902  ...  6.324564e-02
주말매출       0.844514  0.554024  0.340676  0.472196  ...  1.145745e-01
...             ...       ...       ...       ...  ...           ...
행정동_후암동   -0.019009 -0.043138 -0.007487  0.000697  ... -2.320186e-03
행정동_휘경1동  -0.019065 -0.030916  0.065334  0.004839  ... -2.320186e-03
행정동_휘경2동  -0.032493 -0.018296  0.003554 -0.009843  ... -2.320186e-03
행정동_흑석동    0.009807  0.032792  0.120900  0.017851  ... -2.320186e-03
업종명_한식음식점       NaN       NaN       NaN       NaN  ...           NaN

                행정동_황학동       행정동_회기동       행정동_회현동       행정동_효창동  \
년분기       -9.210135e-15  1.031726e-14  2.712591e-14  2.282517e-14
행정동_코드    -7.415653e-02 -5.164614e-02 -7.418903e-02 -6.667890e-02
월매출        1.327797e-03 -1.575304e-03  4.062946e-02 -3.126738e-02
주중매출      -1.942038e-03 -2.079374e-03  5.229225e-02 -2.854869e-02
주말매출       1.307351e-02  4.288197e-04 -6.194768e-03 -3.775543e-02
...                 ...           ...           ...           ...
행정동_후암동   -2.320186e-03 -2.320186e-03 -2.320186e-03 -2.320186e-03
행정동_휘경1동  -2.320186e-03 -2.320186e-03 -2.320186e-03 -2.320186e-03
행정동_휘경2동  -2.320186e-03 -2.320186e-03 -2.320186e-03 -2.320186e-03
행정동_흑석동   -2.320186e-03 -2.320186e-03 -2.320186e-03 -2.320186e-03
업종명_한식음식점           NaN           NaN           NaN           NaN

                행정동_후암동      행정동_휘경1동      행정동_휘경2동       행정동_흑석동  업종명_한식음식점
년분기        1.266923e-14  1.729905e-14  8.844332e-15  8.914931e-15        NaN
행정동_코드    -6.669640e-02 -5.164364e-02 -5.164114e-02  3.832914e-02        NaN
월매출       -1.174852e-02 -1.980105e-02 -2.695698e-02 -2.553295e-04        NaN
주중매출      -9.390040e-03 -1.835063e-02 -2.500755e-02  1.438805e-03        NaN
주말매출      -1.904789e-02 -2.292341e-02 -3.111621e-02 -6.387913e-03        NaN
...                 ...           ...           ...           ...        ...
행정동_후암동    1.000000e+00 -2.320186e-03 -2.320186e-03 -2.320186e-03        NaN
행정동_휘경1동  -2.320186e-03  1.000000e+00 -2.320186e-03 -2.320186e-03        NaN
행정동_휘경2동  -2.320186e-03 -2.320186e-03  1.000000e+00 -2.320186e-03        NaN
행정동_흑석동   -2.320186e-03 -2.320186e-03 -2.320186e-03  1.000000e+00        NaN
업종명_한식음식점           NaN           NaN           NaN           NaN        NaN

[439 rows x 439 columns]

In [65]:
# 출력
print("월매출과의 상관관계 (내림차순 정렬):")
print(sorted_correlation[1:11])
print(sorted_correlation[-10:])

월매출과의 상관관계 (내림차순 정렬):
주중매출               0.993758
주말매출               0.914028
점포수                0.890294
지역생활인구             0.618534
주차장면적(면)           0.560896
단기외국인              0.542725
행정동_역삼1동           0.370786
행정동_종로1·2·3·4가동    0.352436
장기외국인              0.346105
행정동_여의동            0.321816
Name: 월매출, dtype: float64
행정동_시흥2동    -0.034094
행정동_하계2동    -0.034131
행정동_잠실7동    -0.034219
행정동_개포1동    -0.034414
행정동_오류2동    -0.046233
행정동_일원2동    -0.046827
행정동_강일동     -0.062798
학교수         -0.087412
학생수         -0.101847
업종명_한식음식점         NaN
Name: 월매출, dtype: float64