In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr, spearmanr, kendalltau

In [3]:
df = pd.read_csv('source/rawdata_v1.2.csv')

In [4]:
df['RANK'].unique()

array(['제6등급', '제5등급', '제4등급', '제2등급', '제3등급', '제1등급', '제OPEN', '한2등급',
       '한1등급', '한3등급', '한OPEN', '한4등급', '한오픈', '제오픈', '국6등급', '국5등급',
       '국4등급', '혼OPEN', '국3등급', '혼4등급', '2등급', '혼3등급', '1등급', '국OPEN'],
      dtype=object)

In [5]:
valid_ranks = ['제6등급', '제5등급', '제4등급', '제2등급', '제3등급', '제1등급', '한2등급', '한1등급', '한3등급', '한4등급', '국6등급', '국5등급', '국4등급', '국3등급', '2등급', '1등급']
filtered_df = df[df['RANK'].isin(valid_ranks)]

In [6]:
filtered_df['RANK'].unique()

array(['제6등급', '제5등급', '제4등급', '제2등급', '제3등급', '제1등급', '한2등급', '한1등급',
       '한3등급', '한4등급', '국6등급', '국5등급', '국4등급', '국3등급', '2등급', '1등급'],
      dtype=object)

In [7]:
filtered_df['RANK'] = filtered_df['RANK'].replace({'1등급': '국1등급', '2등급': '국2등급'})

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_4692\2133995719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['RANK'] = filtered_df['RANK'].replace({'1등급': '국1등급', '2등급': '국2등급'})

In [8]:
#filtered_df.to_csv('no_open.csv', index=False, encoding='utf-8-sig')

In [9]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55236 entries, 0 to 61849
Data columns (total 92 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MEET             55236 non-null  object
 1   RC_DATE          55236 non-null  int64
 2   RC_NO            55236 non-null  int64
 3   RC_DIST          55236 non-null  int64
 4   RANK             55236 non-null  object
 5   WEATHER          55236 non-null  object
 6   TR_CON           55236 non-null  object
 7   TR_WC            55236 non-null  int64
 8   ORD              55236 non-null  int64
 9   CHUL_NO          55236 non-null  int64
 10  HR_NAME          55236 non-null  object
 11  HR_NO            55236 non-null  int64
 12  NAME             55236 non-null  object
 13  PRD_NAME         55236 non-null  object
 14  AGE              55236 non-null  int64
 15  SEX              55236 non-null  object
 16  horse_weight     55236 non-null  float64
 17  weight_gain      55236 non-null  float64
 18  RC_TIME          55236 non-null  float64
 19  ORD1_CNT_T       55236 non-null  int64
 20  ORD2_CNT_T       55236 non-null  int64
 21  RC_CNT_T         55236 non-null  int64
 22  ORD1_CNT_Y       55236 non-null  int64
 23  ORD2_CNT_Y       55236 non-null  int64
 24  RC_CNT_Y         55236 non-null  int64
 25  WG_BUDAM         55236 non-null  float64
 26  JK_NAME          55236 non-null  object
 27  JK_NO            55236 non-null  int64
 28  JK_AGE           55236 non-null  int64
 29  JK_CAREER        55236 non-null  int64
 30  JK_ORD1_CNT_T    55236 non-null  int64
 31  JK_ORD2_CNT_T    55236 non-null  int64
 32  JK_RC_CNT_T      55236 non-null  int64
 33  JK_ORD1_CNT_Y    55236 non-null  int64
 34  JK_ORD2_CNT_Y    55236 non-null  int64
 35  JK_RC_CNT_Y      55236 non-null  int64
 36  TR_NAME          55236 non-null  object
 37  TR_NO            55236 non-null  float64
 38  TR_AGE           0 non-null      float64
 39  TR_CAREER        55236 non-null  float64
 40  TR_ORD1_CNT_T    55236 non-null  float64
 41  TR_ORD2_CNT_T    55236 non-null  float64
 42  TR_RC_CNT_T      55236 non-null  float64
 43  TR_ORD1_CNT_Y    55236 non-null  float64
 44  TR_ORD2_CNT_Y    55236 non-null  float64
 45  TR_RC_CNT_Y      55236 non-null  float64
 46  HR_ORD1_CNT_T    55236 non-null  float64
 47  HR_ORD2_CNT_T    55236 non-null  float64
 48  HR_RC_CNT_T      55236 non-null  float64
 49  SJ_S1F_ORD       55236 non-null  int64
 50  SJ_1C_ORD        55236 non-null  int64
 51  SJ_2C_ORD        55236 non-null  int64
 52  SJ_3C_ORD        55236 non-null  int64
 53  SJ_G3F_ORD       55236 non-null  int64
 54  SJ_4C_ORD        55236 non-null  int64
 55  SJ_G1F_ORD       55236 non-null  int64
 56  SE_S1F_ACC_TIME  55236 non-null  int64
 57  SE_1C_ACC_TIME   55236 non-null  int64
 58  SE_2C_ACC_TIME   55236 non-null  int64
 59  SE_3C_ACC_TIME   55236 non-null  int64
 60  SE_G3F_ACC_TIME  55236 non-null  int64
 61  SE_4C_ACC_TIME   55236 non-null  int64
 62  SE_G1F_ACC_TIME  55236 non-null  int64
 63  JE_S1F_TIME      55236 non-null  float64
 64  JE_1C_TIME       55236 non-null  float64
 65  JE_2C_TIME       55236 non-null  float64
 66  JE_3C_TIME       55236 non-null  float64
 67  JE_G3F_TIME      55236 non-null  float64
 68  JE_4C_TIME       55236 non-null  float64
 69  JE_G1F_TIME      55236 non-null  float64
 70  BU_S1F_ORD       55236 non-null  int64
 71  BU_G8F_ORD       55236 non-null  int64
 72  BU_G6F_ORD       55236 non-null  int64
 73  BU_G4F_ORD       55236 non-null  int64
 74  BU_G3F_ORD       55236 non-null  int64
 75  BU_G2F_ORD       55236 non-null  int64
 76  BU_G1F_ORD       55236 non-null  int64
 77  BU_S1F_TIME      55236 non-null  float64
 78  BU_10-8F_TIME    55236 non-null  float64
 79  BU_8-6F_TIME     55236 non-null  float64
 80  BU_6-4F_TIME     55236 non-null  float64
 81  BU_4-2F_TIME     55236 non-null  float64
 82  BU_2F-G_TIME     55236 non-null  float64
 83  BU_3F-G_TIME     55236 non-null  float64
 84  BU_1F-G_TIME     55236 non-null  float64
 85  BU_S1F_ACC_TIME  55236 non-null  float64
 86  BU_G8F_ACC_TIME  55236 non-null  float64
 87  BU_G6F_ACC_TIME  55236 non-null  float64
 88  BU_G4F_ACC_TIME  55236 non-null  float64
 89  BU_G3F_ACC_TIME  55236 non-null  float64
 90  BU_G2F_ACC_TIME  55236 non-null  float64
 91  BU_G1F_ACC_TIME  55236 non-null  float64
dtypes: float64(38), int64(44), object(10)
memory usage: 39.2+ MB

In [10]:
filtered_df['RANK'].unique()

array(['제6등급', '제5등급', '제4등급', '제2등급', '제3등급', '제1등급', '한2등급', '한1등급',
       '한3등급', '한4등급', '국6등급', '국5등급', '국4등급', '국3등급', '국2등급', '국1등급'],
      dtype=object)