rowdata 실격 및 null 값제거

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [3]:
df = pd.read_csv('source/rowdata_v1.1.csv')

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_10180\2279747927.py:1: DtypeWarning: Columns (3,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('source/rowdata_v1.1.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63293 entries, 0 to 63292
Data columns (total 92 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MEET             63293 non-null  object
 1   RC_DATE          63293 non-null  int64
 2   RC_NO            63293 non-null  int64
 3   RC_DIST          63293 non-null  object
 4   RANK             63293 non-null  object
 5   WEATHER          63293 non-null  object
 6   TR_CON           62879 non-null  object
 7   TR_WC            63293 non-null  int64
 8   ORD              63293 non-null  int64
 9   CHUL_NO          63293 non-null  int64
 10  HR_NAME          63293 non-null  object
 11  HR_NO            63293 non-null  int64
 12  NAME             63293 non-null  object
 13  PRD_NAME         63293 non-null  object
 14  AGE              63293 non-null  int64
 15  SEX              63293 non-null  object
 16  horse_weight     63293 non-null  float64
 17  weight_gain      63293 non-null  float64
 18  RC_TIME          63293 non-null  float64
 19  ORD1_CNT_T       63293 non-null  int64
 20  ORD2_CNT_T       63293 non-null  int64
 21  RC_CNT_T         63293 non-null  int64
 22  ORD1_CNT_Y       63293 non-null  int64
 23  ORD2_CNT_Y       63293 non-null  int64
 24  RC_CNT_Y         63293 non-null  int64
 25  WG_BUDAM         63293 non-null  float64
 26  JK_NAME          63293 non-null  object
 27  JK_NO            63293 non-null  int64
 28  JK_AGE           63293 non-null  int64
 29  JK_CAREER        63293 non-null  int64
 30  JK_ORD1_CNT_T    63293 non-null  int64
 31  JK_ORD2_CNT_T    63293 non-null  int64
 32  JK_RC_CNT_T      63293 non-null  int64
 33  JK_ORD1_CNT_Y    63293 non-null  int64
 34  JK_ORD2_CNT_Y    63293 non-null  int64
 35  JK_RC_CNT_Y      63293 non-null  int64
 36  TR_NAME          63292 non-null  object
 37  TR_NO            63292 non-null  object
 38  TR_AGE           0 non-null      float64
 39  TR_CAREER        63292 non-null  float64
 40  TR_ORD1_CNT_T    63287 non-null  float64
 41  TR_ORD2_CNT_T    63287 non-null  float64
 42  TR_RC_CNT_T      63287 non-null  float64
 43  TR_ORD1_CNT_Y    63287 non-null  float64
 44  TR_ORD2_CNT_Y    63287 non-null  float64
 45  TR_RC_CNT_Y      63287 non-null  float64
 46  HR_ORD1_CNT_T    63292 non-null  float64
 47  HR_ORD2_CNT_T    63292 non-null  float64
 48  HR_RC_CNT_T      63292 non-null  float64
 49  SJ_S1F_ORD       63293 non-null  int64
 50  SJ_1C_ORD        63293 non-null  int64
 51  SJ_2C_ORD        63293 non-null  int64
 52  SJ_3C_ORD        63293 non-null  int64
 53  SJ_G3F_ORD       63293 non-null  int64
 54  SJ_4C_ORD        63293 non-null  int64
 55  SJ_G1F_ORD       63293 non-null  int64
 56  SE_S1F_ACC_TIME  63293 non-null  int64
 57  SE_1C_ACC_TIME   63293 non-null  int64
 58  SE_2C_ACC_TIME   63293 non-null  int64
 59  SE_3C_ACC_TIME   63293 non-null  int64
 60  SE_G3F_ACC_TIME  63293 non-null  int64
 61  SE_4C_ACC_TIME   63293 non-null  int64
 62  SE_G1F_ACC_TIME  63293 non-null  int64
 63  JE_S1F_TIME      63293 non-null  float64
 64  JE_1C_TIME       63293 non-null  float64
 65  JE_2C_TIME       63293 non-null  float64
 66  JE_3C_TIME       63293 non-null  float64
 67  JE_G3F_TIME      63293 non-null  float64
 68  JE_4C_TIME       63293 non-null  float64
 69  JE_G1F_TIME      63293 non-null  float64
 70  BU_S1F_ORD       63293 non-null  int64
 71  BU_G8F_ORD       63293 non-null  int64
 72  BU_G6F_ORD       63293 non-null  int64
 73  BU_G4F_ORD       63293 non-null  int64
 74  BU_G3F_ORD       63293 non-null  int64
 75  BU_G2F_ORD       63293 non-null  int64
 76  BU_G1F_ORD       63293 non-null  int64
 77  BU_S1F_TIME      63293 non-null  float64
 78  BU_10-8F_TIME    63293 non-null  float64
 79  BU_8-6F_TIME     63293 non-null  float64
 80  BU_6-4F_TIME     63293 non-null  float64
 81  BU_4-2F_TIME     63293 non-null  float64
 82  BU_2F-G_TIME     63293 non-null  float64
 83  BU_3F-G_TIME     63293 non-null  float64
 84  BU_1F-G_TIME     63293 non-null  float64
 85  BU_S1F_ACC_TIME  63293 non-null  float64
 86  BU_G8F_ACC_TIME  63293 non-null  float64
 87  BU_G6F_ACC_TIME  63293 non-null  float64
 88  BU_G4F_ACC_TIME  63293 non-null  float64
 89  BU_G3F_ACC_TIME  63293 non-null  float64
 90  BU_G2F_ACC_TIME  63293 non-null  float64
 91  BU_G1F_ACC_TIME  63293 non-null  float64
dtypes: float64(37), int64(43), object(12)
memory usage: 44.4+ MB

In [5]:
df.columns

Index(['MEET', 'RC_DATE', 'RC_NO', 'RC_DIST', 'RANK', 'WEATHER', 'TR_CON',
       'TR_WC', 'ORD', 'CHUL_NO', 'HR_NAME', 'HR_NO', 'NAME', 'PRD_NAME',
       'AGE', 'SEX', 'horse_weight', 'weight_gain', 'RC_TIME', 'ORD1_CNT_T',
       'ORD2_CNT_T', 'RC_CNT_T', 'ORD1_CNT_Y', 'ORD2_CNT_Y', 'RC_CNT_Y',
       'WG_BUDAM', 'JK_NAME', 'JK_NO', 'JK_AGE', 'JK_CAREER', 'JK_ORD1_CNT_T',
       'JK_ORD2_CNT_T', 'JK_RC_CNT_T', 'JK_ORD1_CNT_Y', 'JK_ORD2_CNT_Y',
       'JK_RC_CNT_Y', 'TR_NAME', 'TR_NO', 'TR_AGE', 'TR_CAREER',
       'TR_ORD1_CNT_T', 'TR_ORD2_CNT_T', 'TR_RC_CNT_T', 'TR_ORD1_CNT_Y',
       'TR_ORD2_CNT_Y', 'TR_RC_CNT_Y', 'HR_ORD1_CNT_T', 'HR_ORD2_CNT_T',
       'HR_RC_CNT_T', 'SJ_S1F_ORD', 'SJ_1C_ORD', 'SJ_2C_ORD', 'SJ_3C_ORD',
       'SJ_G3F_ORD', 'SJ_4C_ORD', 'SJ_G1F_ORD', 'SE_S1F_ACC_TIME',
       'SE_1C_ACC_TIME', 'SE_2C_ACC_TIME', 'SE_3C_ACC_TIME', 'SE_G3F_ACC_TIME',
       'SE_4C_ACC_TIME', 'SE_G1F_ACC_TIME', 'JE_S1F_TIME', 'JE_1C_TIME',
       'JE_2C_TIME', 'JE_3C_TIME', 'JE_G3F_TIME', 'JE_4C_TIME', 'JE_G1F_TIME',
       'BU_S1F_ORD', 'BU_G8F_ORD', 'BU_G6F_ORD', 'BU_G4F_ORD', 'BU_G3F_ORD',
       'BU_G2F_ORD', 'BU_G1F_ORD', 'BU_S1F_TIME', 'BU_10-8F_TIME',
       'BU_8-6F_TIME', 'BU_6-4F_TIME', 'BU_4-2F_TIME', 'BU_2F-G_TIME',
       'BU_3F-G_TIME', 'BU_1F-G_TIME', 'BU_S1F_ACC_TIME', 'BU_G8F_ACC_TIME',
       'BU_G6F_ACC_TIME', 'BU_G4F_ACC_TIME', 'BU_G3F_ACC_TIME',
       'BU_G2F_ACC_TIME', 'BU_G1F_ACC_TIME'],
      dtype='object')

In [29]:
#print(df['MEET'].unique())
#print(df['RANK'].unique())

new_data = df[df['RANK'] != '-']

In [33]:
new_data['RANK'].unique()

array(['제6등급', '제5등급', '제4등급', '제2등급', '제3등급', '제1등급', '제OPEN', '한2등급',
       '한1등급', '한3등급', '한OPEN', '한4등급', '한오픈', '제오픈', '국6등급', '국5등급',
       '국4등급', '혼OPEN', '국3등급', '혼4등급', '2등급', '혼3등급', '1등급', '국OPEN'],
      dtype=object)

In [34]:
new_data['ORD'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 94, 99, 95, 92, 11, 12, 91,
       93, 13, 14, 15, 16])

In [9]:
data = df.loc[:,['MEET', 'RC_DATE', 'RC_DIST', 'RANK', 'WEATHER', 'TR_CON',
       'TR_WC', 'ORD', 'CHUL_NO', 'HR_NAME']]

In [10]:
data.head()

  MEET   RC_DATE RC_DIST  RANK WEATHER TR_CON  TR_WC  ORD  CHUL_NO HR_NAME
0   제주  20230701     800  제6등급      흐림     포화     18    1        9    한백제왕
1   제주  20230701     800  제6등급      흐림     포화     18    2        2    명의로운
2   제주  20230701     800  제6등급      흐림     포화     18    3        3    번개의꿈
3   제주  20230701     800  제6등급      흐림     포화     18    4        6     고차원
4   제주  20230701     800  제6등급      흐림     포화     18    5        1     위너고

In [35]:
new_data = new_data[new_data['ORD'].map(lambda v: v not in np.arange(91, 100))]

In [36]:
new_data['ORD'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [ ]:
#new_data.to_csv('raw_v1.2.csv', index=False, encoding='utf-8-sig')