<h1>경주정보</h1>
rc_datas = 경주정보 전체, 세부내용 아래 인덱스 확인

rc_data = 경주정보 

['MEET', 'RC_DATE', 'RC_NO', 'RC_DIST', 'RANK', 'WEATHER', 'TR_CON', 'TR_WC', 'ORD', 'CHUL_NO', 'HR_NO', 'JK_NO', 'TR_NO']

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('source/horse_ecolumn.csv')

C:\Users\oos04\AppData\Local\Temp\ipykernel_11956\3411953672.py:1: DtypeWarning: Columns (3,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('source/horse_ecolumn.csv')

In [22]:
# TRACK 컬럼을 TR_STATE와 TR_WC로 분리
df[['TR_CON', 'TR_WC']] = df['TRACK'].str.extract(r'(\D+)\s\((\d+)%\)')

# NaN 값을 0으로 대체하고 TR_WC 컬럼을 int 타입으로 변환
df['TR_WC'] = df['TR_WC'].fillna(0).astype(int)

# 원래 TRACK 컬럼 삭제
df = df.drop(columns=['TRACK'])

In [23]:
df.head(1)

,MEET,RC_DATE,RC_NO,RC_DIST,RANK,WEATHER,ORD,CHUL_NO,HR_NAME,HR_NO,...,BU_1F-G_TIME,BU_S1F_ACC_TIME,BU_G8F_ACC_TIME,BU_G6F_ACC_TIME,BU_G4F_ACC_TIME,BU_G3F_ACC_TIME,BU_G2F_ACC_TIME,BU_G1F_ACC_TIME,TR_CON,TR_WC
0,제주,20230701,1,800,제6등급,흐림,1,9,한백제왕,3101848,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,포화,18

In [24]:
df.columns

Index(['MEET', 'RC_DATE', 'RC_NO', 'RC_DIST', 'RANK', 'WEATHER', 'ORD',
       'CHUL_NO', 'HR_NAME', 'HR_NO', 'NAME', 'PRD_NAME', 'AGE', 'SEX',
       'RC_TIME', 'ORD1_CNT_T', 'ORD2_CNT_T', 'RC_CNT_T', 'ORD1_CNT_Y',
       'ORD2_CNT_Y', 'RC_CNT_Y', 'WG_HR', 'WG_BUDAM', 'JK_NAME', 'JK_NO',
       'JK_AGE', 'JK_CAREER', 'JK_ORD1_CNT_T', 'JK_ORD2_CNT_T', 'JK_RC_CNT_T',
       'JK_ORD1_CNT_Y', 'JK_ORD2_CNT_Y', 'JK_RC_CNT_Y', 'TR_NAME', 'TR_NO',
       'TR_AGE', 'TR_CAREER', 'TR_ORD1_CNT_T', 'TR_ORD2_CNT_T', 'TR_RC_CNT_T',
       'TR_ORD1_CNT_Y', 'TR_ORD2_CNT_Y', 'TR_RC_CNT_Y', 'HR_ORD1_CNT_T',
       'HR_ORD2_CNT_T', 'HR_RC_CNT_T', 'SJ_S1F_ORD', 'SJ_1C_ORD', 'SJ_2C_ORD',
       'SJ_3C_ORD', 'SJ_G3F_ORD', 'SJ_4C_ORD', 'SJ_G1F_ORD', 'SE_S1F_ACC_TIME',
       'SE_1C_ACC_TIME', 'SE_2C_ACC_TIME', 'SE_3C_ACC_TIME', 'SE_G3F_ACC_TIME',
       'SE_4C_ACC_TIME', 'SE_G1F_ACC_TIME', 'JE_S1F_TIME', 'JE_1C_TIME',
       'JE_2C_TIME', 'JE_3C_TIME', 'JE_G3F_TIME', 'JE_4C_TIME', 'JE_G1F_TIME',
       'BU_S1F_ORD', 'BU_G8F_ORD', 'BU_G6F_ORD', 'BU_G4F_ORD', 'BU_G3F_ORD',
       'BU_G2F_ORD', 'BU_G1F_ORD', 'BU_S1F_TIME', 'BU_10-8F_TIME',
       'BU_8-6F_TIME', 'BU_6-4F_TIME', 'BU_4-2F_TIME', 'BU_2F-G_TIME',
       'BU_3F-G_TIME', 'BU_1F-G_TIME', 'BU_S1F_ACC_TIME', 'BU_G8F_ACC_TIME',
       'BU_G6F_ACC_TIME', 'BU_G4F_ACC_TIME', 'BU_G3F_ACC_TIME',
       'BU_G2F_ACC_TIME', 'BU_G1F_ACC_TIME', 'TR_CON', 'TR_WC'],
      dtype='object')

In [26]:
rc_datas = df.loc[:, ["MEET", "RC_DATE", "RC_NO", "RC_DIST", "RANK", "WEATHER", "ORD", "CHUL_NO", "HR_NO", "JK_NO", "TR_NO", 
           "SJ_S1F_ORD", "SJ_1C_ORD", "SJ_2C_ORD", "SJ_3C_ORD", "SJ_G3F_ORD", "SJ_4C_ORD", "SJ_G1F_ORD", 
           "SE_S1F_ACC_TIME", "SE_1C_ACC_TIME", "SE_2C_ACC_TIME", "SE_3C_ACC_TIME", "SE_G3F_ACC_TIME", 
           "SE_4C_ACC_TIME", "SE_G1F_ACC_TIME", "JE_S1F_TIME", "JE_1C_TIME", "JE_2C_TIME", "JE_3C_TIME", 
           "JE_G3F_TIME", "JE_4C_TIME", "JE_G1F_TIME", "BU_S1F_ORD", "BU_G8F_ORD", "BU_G6F_ORD", "BU_G4F_ORD", 
           "BU_G3F_ORD", "BU_G2F_ORD", "BU_G1F_ORD", "BU_S1F_TIME", "BU_10-8F_TIME", "BU_8-6F_TIME", 
           "BU_6-4F_TIME", "BU_4-2F_TIME", "BU_2F-G_TIME", "BU_3F-G_TIME", "BU_1F-G_TIME", "BU_S1F_ACC_TIME", 
           "BU_G8F_ACC_TIME", "BU_G6F_ACC_TIME", "BU_G4F_ACC_TIME", "BU_G3F_ACC_TIME", "BU_G2F_ACC_TIME", 
           "BU_G1F_ACC_TIME", "TR_CON", "TR_WC"]]

In [28]:
rc_datas.head(1)

,MEET,RC_DATE,RC_NO,RC_DIST,RANK,WEATHER,ORD,CHUL_NO,HR_NO,JK_NO,...,BU_1F-G_TIME,BU_S1F_ACC_TIME,BU_G8F_ACC_TIME,BU_G6F_ACC_TIME,BU_G4F_ACC_TIME,BU_G3F_ACC_TIME,BU_G2F_ACC_TIME,BU_G1F_ACC_TIME,TR_CON,TR_WC
0,제주,20230701,1,800,제6등급,흐림,1,9,3101848,3081,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,포화,18

In [43]:
rc_data = df.loc[:, [ 'MEET', 'RC_DATE', 'RC_NO', 'RC_DIST', 'RANK', 'WEATHER', 'TR_CON', 'TR_WC', 
       'ORD', 'CHUL_NO', 'HR_NO', 'JK_NO', 'TR_NO']]

In [47]:
rc_data.head(1)

,MEET,RC_DATE,RC_NO,RC_DIST,RANK,WEATHER,TR_CON,TR_WC,ORD,CHUL_NO,HR_NO,JK_NO,TR_NO
0,제주,20230701,1,800,제6등급,흐림,포화,18,1,9,3101848,3081,002019

In [45]:
rc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63293 entries, 0 to 63292
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MEET     63293 non-null  object
 1   RC_DATE  63293 non-null  int64
 2   RC_NO    63293 non-null  int64
 3   RC_DIST  63293 non-null  object
 4   RANK     63293 non-null  object
 5   WEATHER  63293 non-null  object
 6   TR_CON   62879 non-null  object
 7   TR_WC    63293 non-null  int64
 8   ORD      63293 non-null  int64
 9   CHUL_NO  63293 non-null  int64
 10  HR_NO    63293 non-null  int64
 11  JK_NO    63293 non-null  int64
 12  TR_NO    63292 non-null  object
dtypes: int64(7), object(6)
memory usage: 6.3+ MB

In [37]:
columns_order = ['MEET', 'RC_DATE', 'RC_NO', 'RC_DIST', 'RANK', 'WEATHER','TR_CON', 'TR_WC', 'ORD',
       'CHUL_NO', 'HR_NO', 'JK_NO', 'TR_NO', 'SJ_S1F_ORD', 'SJ_1C_ORD',
       'SJ_2C_ORD', 'SJ_3C_ORD', 'SJ_G3F_ORD', 'SJ_4C_ORD', 'SJ_G1F_ORD',
       'SE_S1F_ACC_TIME', 'SE_1C_ACC_TIME', 'SE_2C_ACC_TIME', 'SE_3C_ACC_TIME',
       'SE_G3F_ACC_TIME', 'SE_4C_ACC_TIME', 'SE_G1F_ACC_TIME', 'JE_S1F_TIME',
       'JE_1C_TIME', 'JE_2C_TIME', 'JE_3C_TIME', 'JE_G3F_TIME', 'JE_4C_TIME',
       'JE_G1F_TIME', 'BU_S1F_ORD', 'BU_G8F_ORD', 'BU_G6F_ORD', 'BU_G4F_ORD',
       'BU_G3F_ORD', 'BU_G2F_ORD', 'BU_G1F_ORD', 'BU_S1F_TIME',
       'BU_10-8F_TIME', 'BU_8-6F_TIME', 'BU_6-4F_TIME', 'BU_4-2F_TIME',
       'BU_2F-G_TIME', 'BU_3F-G_TIME', 'BU_1F-G_TIME', 'BU_S1F_ACC_TIME',
       'BU_G8F_ACC_TIME', 'BU_G6F_ACC_TIME', 'BU_G4F_ACC_TIME',
       'BU_G3F_ACC_TIME', 'BU_G2F_ACC_TIME', 'BU_G1F_ACC_TIME']

rc_datas = rc_datas[columns_order]

In [46]:
rc_datas.head(1)

,MEET,RC_DATE,RC_NO,RC_DIST,RANK,WEATHER,TR_CON,TR_WC,ORD,CHUL_NO,...,BU_2F-G_TIME,BU_3F-G_TIME,BU_1F-G_TIME,BU_S1F_ACC_TIME,BU_G8F_ACC_TIME,BU_G6F_ACC_TIME,BU_G4F_ACC_TIME,BU_G3F_ACC_TIME,BU_G2F_ACC_TIME,BU_G1F_ACC_TIME
0,제주,20230701,1,800,제6등급,흐림,포화,18,1,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
rc_datas.columns

Index(['MEET', 'RC_DATE', 'RC_NO', 'RC_DIST', 'RANK', 'WEATHER', 'TR_CON',
       'TR_WC', 'ORD', 'CHUL_NO', 'HR_NO', 'JK_NO', 'TR_NO', 'SJ_S1F_ORD',
       'SJ_1C_ORD', 'SJ_2C_ORD', 'SJ_3C_ORD', 'SJ_G3F_ORD', 'SJ_4C_ORD',
       'SJ_G1F_ORD', 'SE_S1F_ACC_TIME', 'SE_1C_ACC_TIME', 'SE_2C_ACC_TIME',
       'SE_3C_ACC_TIME', 'SE_G3F_ACC_TIME', 'SE_4C_ACC_TIME',
       'SE_G1F_ACC_TIME', 'JE_S1F_TIME', 'JE_1C_TIME', 'JE_2C_TIME',
       'JE_3C_TIME', 'JE_G3F_TIME', 'JE_4C_TIME', 'JE_G1F_TIME', 'BU_S1F_ORD',
       'BU_G8F_ORD', 'BU_G6F_ORD', 'BU_G4F_ORD', 'BU_G3F_ORD', 'BU_G2F_ORD',
       'BU_G1F_ORD', 'BU_S1F_TIME', 'BU_10-8F_TIME', 'BU_8-6F_TIME',
       'BU_6-4F_TIME', 'BU_4-2F_TIME', 'BU_2F-G_TIME', 'BU_3F-G_TIME',
       'BU_1F-G_TIME', 'BU_S1F_ACC_TIME', 'BU_G8F_ACC_TIME', 'BU_G6F_ACC_TIME',
       'BU_G4F_ACC_TIME', 'BU_G3F_ACC_TIME', 'BU_G2F_ACC_TIME',
       'BU_G1F_ACC_TIME'],
      dtype='object')

In [48]:
rc_data.to_csv('rc_data.csv', index=False, encoding='utf-8-sig')

In [49]:
rc_datas.to_csv('rc_datas.csv', index=False, encoding='utf-8-sig')