In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [3]:
df = pd.read_csv('source/no_open.csv')

In [5]:
df.columns

Index(['MEET', 'RC_DATE', 'RC_NO', 'RC_DIST', 'RANK', 'WEATHER', 'TR_CON',
       'TR_WC', 'ORD', 'CHUL_NO', 'HR_NAME', 'HR_NO', 'NAME', 'PRD_NAME',
       'AGE', 'SEX', 'horse_weight', 'weight_gain', 'RC_TIME', 'ORD1_CNT_T',
       'ORD2_CNT_T', 'RC_CNT_T', 'ORD1_CNT_Y', 'ORD2_CNT_Y', 'RC_CNT_Y',
       'WG_BUDAM', 'JK_NAME', 'JK_NO', 'JK_AGE', 'JK_CAREER', 'JK_ORD1_CNT_T',
       'JK_ORD2_CNT_T', 'JK_RC_CNT_T', 'JK_ORD1_CNT_Y', 'JK_ORD2_CNT_Y',
       'JK_RC_CNT_Y', 'TR_NAME', 'TR_NO', 'TR_AGE', 'TR_CAREER',
       'TR_ORD1_CNT_T', 'TR_ORD2_CNT_T', 'TR_RC_CNT_T', 'TR_ORD1_CNT_Y',
       'TR_ORD2_CNT_Y', 'TR_RC_CNT_Y', 'HR_ORD1_CNT_T', 'HR_ORD2_CNT_T',
       'HR_RC_CNT_T', 'SJ_S1F_ORD', 'SJ_1C_ORD', 'SJ_2C_ORD', 'SJ_3C_ORD',
       'SJ_G3F_ORD', 'SJ_4C_ORD', 'SJ_G1F_ORD', 'SE_S1F_ACC_TIME',
       'SE_1C_ACC_TIME', 'SE_2C_ACC_TIME', 'SE_3C_ACC_TIME', 'SE_G3F_ACC_TIME',
       'SE_4C_ACC_TIME', 'SE_G1F_ACC_TIME', 'JE_S1F_TIME', 'JE_1C_TIME',
       'JE_2C_TIME', 'JE_3C_TIME', 'JE_G3F_TIME', 'JE_4C_TIME', 'JE_G1F_TIME',
       'BU_S1F_ORD', 'BU_G8F_ORD', 'BU_G6F_ORD', 'BU_G4F_ORD', 'BU_G3F_ORD',
       'BU_G2F_ORD', 'BU_G1F_ORD', 'BU_S1F_TIME', 'BU_10-8F_TIME',
       'BU_8-6F_TIME', 'BU_6-4F_TIME', 'BU_4-2F_TIME', 'BU_2F-G_TIME',
       'BU_3F-G_TIME', 'BU_1F-G_TIME', 'BU_S1F_ACC_TIME', 'BU_G8F_ACC_TIME',
       'BU_G6F_ACC_TIME', 'BU_G4F_ACC_TIME', 'BU_G3F_ACC_TIME',
       'BU_G2F_ACC_TIME', 'BU_G1F_ACC_TIME'],
      dtype='object')

In [7]:
drop_duplicate = df.groupby(['MEET', 'RC_DATE', 'RC_NO', 'ORD', 'HR_NAME'])['RANK'].count()
drop_duplicate2 = drop_duplicate.reset_index()
len(drop_duplicate2[drop_duplicate2['RANK'] > 1].index)

487

In [8]:
df[['MEET', 'RC_DATE', 'RC_NO', 'ORD', 'HR_NAME']].shape

(55236, 5)

In [15]:
# 드랍하고 남은 인덱스를 가져오기
index_to_select = df[['MEET', 'RC_DATE', 'RC_NO', 'ORD', 'HR_NAME']].drop_duplicates().index

In [16]:
# 드랍하고 남은 인덱스를 이용해서 원본에서 행선택
print(df.loc[index_to_select, :].shape)
selected_ord = df.loc[index_to_select, :]

(54749, 92)

In [11]:
55236 - 54749

487

In [14]:
selected_ord.to_csv('raw_vol2.0.csv', index=False, encoding='utf-8-sig')

In [17]:
drop_duplicate = selected_ord.groupby(['MEET', 'RC_DATE', 'RC_NO', 'ORD', 'HR_NAME'])['RANK'].count()
drop_duplicate2 = drop_duplicate.reset_index()
len(drop_duplicate2[drop_duplicate2['RANK'] > 1].index)

0